.schedule-add{
  .error {
    color: #ff0000;
    font-family: $fontRobotoRegular;
    font-size: 14px;
    margin-left: 0px;
  }
  .inputclass-bottom{
    z-index: 1;
    text-align: center;
  }
  textarea {
    width: 100%;
    height: 80px;
  }
  .inputclass {
    width: 100%;
    &-top-arrows {
      width: 10%;
    }
    &-top-input {
      width: 90%;
    }
  }
  .buttons-wrp{
    width: 110%;
  }
  .button-grey{
    margin-left: 0;
    margin-top: 30px;
  }
  #schedule-lesson{
    .inputclass{
      z-index: 1;
    }
  }
  .div-calendar {
    .today:before {
      margin: -3px 0 0 -5px !important;
    }
  }
}