<div ui-view="">
    <div class="row">
        <div class="user-page">
            <div class="created">
                <div class="info" ng-show="newUser">
                    Пользователь {{newUser}} создан
                </div>
            </div>
            <div class="col-sm-5">

                <form role="form">
                    <div class="form-group create-form-container">
                        <div class="header-text header-container">ФАМИЛИЯ:</div>
                        <input class="form-control" id="firstname" ng-model="_createdUser.firstName">
                    </div>
                    <div class="form-group create-form-container">
                        <div class="header-text header-container">ИМЯ:</div>
                        <input class="form-control" id="secondname" ng-model="_createdUser.lastName">
                    </div>
                    <div class="form-group create-form-container">
                        <div class="header-text header-container">ОТЧЕСТВО:</div>
                        <input class="form-control" id="lastname" ng-model="_createdUser.patronymic">
                    </div>
                    <div class="header-text header-container">РОЛЬ:</div>
                    <drop-down list="roles" model="_createdUser.roleId"></drop-down>
                    <!--<select class="form-control" id="role">-->
                        <!--<option>Ученик</option>-->
                        <!--<option>Учитель</option>-->
                    <!--</select>-->
                    <div class="form-group create-form-container" ng-show="_createdUser.roleId==4">
                        <div class="header-text header-container">КЛАСС:</div>
                        <drop-down list="class" model="_createdUser.classId"></drop-down>
                    </div>
                    <!--<select class="form-control" id="class">-->
                        <!--<option>10 А</option>-->
                        <!--<option>10 Б</option>-->
                        <!--<option>10 В</option>-->
                    <!--</select>-->
                    <div class="header-text header-container">E-mail:</div>
                    <input class="form-control" id="email" ng-model="_createdUser.email">
                    <div class="header-text header-container">СТАРЫЙ ПАРОЛЬ:</div>
                    <input class="form-control">
                    <div class="header-text header-container">НОВЫЙ ПАРОЛЬ:</div>
                    <div class="form-inline">
                        <input type="text" class="form-control pass-form-minus-button" ng-model="_createdUser.password">
                        <button class="btn btn-default pull-right" ng-click="genPass()">Создать
                            пароль
                        </button>
                    </div>
                </form>
                <div class="create-checkbox">
                    <label><input type="checkbox" name="optradio"> Сообщить пользователю об изменениях</label>
                </div>
                <div class="button-blue-login btns-margin-first" ng-click="regUser()">Сохранить
                </div>
                <div ui-sref="users" class="button-grey">Оменить</div>
            </div>
        </div>
    </div>
</div>