<div class="row">
    <div class="user-page-top">
        <div class="created">
            <div class="info" ng-show="newUser">
                Успешно импортированы {{newUser}} записи
            </div>
            <br>
        </div>
        <!--заугрузка CSV на сервер-->
        <div class="col-sm-6">
            <!--<div class="avatarUploading" ng-repeat="item in uploader.queue">-->
                <!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 200 }"></div>-->
                <!--<div class="button-green" ng-click="item.upload()">Загрузить</div><br><br>-->
            <!--</div>-->
            <input id="selectCSV" type="file" nv-file-select="" uploader="uploader" name="CSVfile" ng-hide="true"/>
            <div class="button-green" onclick="$('#selectCSV').click()">Загрузить CSV</div>
        </div>
        <div class="col-sm-6" ng-show="CSVParsedFile">
            <div class="pull-right" style="padding-top: 25px;">
                В файле записей: {{CSVParsedFile.length}} | Обработано: {{CSVParsedFile.length}}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="user-page">
        <!--правая колонка-->
        <div class="col-sm-5">
            <div class="hint">
                Допустимый формат документов: *.CSV<br>
                Размер файла не должен превышать 3 Мб
            </div>
            <div class="import-radiobuttons" ng-show="CSVParsedFile">
                <div class="import-topic">ПАРАМЕТРЫ ИМПОРТА:</div>
                <label><input type="radio" ng-model="importParams" ng-value="1"> Добавить новых, пропустить существующих</label><br>
                <label><input type="radio" ng-model="importParams" ng-value="2"> Добавить новых, обновить
                    существующие</label><br>
                <label><input type="radio" ng-model="importParams" ng-value="3"> Пропустить новых, обновить существующие</label>
            </div>
            <div ng-show="CSVParsedFile">
                <div class="import-topic">РОЛЬ:</div>
                <div class="import-radiobuttons">
                    <label><input type="radio" ng-model="role" ng-value="3"> Учитель</label><br>
                    <label><input type="radio" ng-model="role" ng-value="4"> Ученик</label>
                </div>
                <div ng-show="role == 4">
                    <div class="import-topic">КЛАСС:</div>
                    <drop-down list="class" model='classSelected'></drop-down>
                    <!--<drop-down list="['-']">-</drop-down>-->
                </div>
                {{classSelected}}
            </div>
            <br><br>
            <div class="hint">
                ТРЕБОВАНИЯ К CSV:<br>
                Кодировка файла: UTF-8<br>
                <br>
                Поля(через запятую):<br>
                - username: Имя пользователя в системе(login) <br>
                - email: E-mail пользователя<br>
                - firstName: Имя<br>
                - lastName: Фамилия<br>
                - patronymic: Отчество<br>
                - password: Пароль<br>
                - introduce: <br>
                - phone: Телефон<br>
                - implementing: <br>
                <br>
                Разделитель полей - ","
            </div>
        </div>
        <!--левая колонка-->
        <div class="col-sm-7" ng-show="CSVParsedFile">
            <div class="result-field pull-right">
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td><b>ФИО:</b></td>
                            <td><b>Логин:</b></td>
                            <td><b>Пароль:</b></td>
                            <td><b>Телефон:</b></td>
                            <td><b>e-mail:</b></td>
                        </tr>
                        <tr ng-repeat="oneRowFromCSV in CSVParsedFile">
                            <td>{{$index+1}}</td>
                            <td>{{oneRowFromCSV.firstName}} {{oneRowFromCSV.lastName}} {{oneRowFromCSV.patronymic}}</td>
                            <td>{{oneRowFromCSV.username}}</td>
                            <td>{{oneRowFromCSV.password}}</td>
                            <td>{{oneRowFromCSV.phone}}</td>
                            <td>{{oneRowFromCSV.email}}</td>
                        </tr>
                    </table>
                </div>

            </div>
            Обновлено записей в базе: {{countOfRenewedRows}}<br>
            Создано новых записей в базе: {{countOfCreatedRows}}
            <label><input type="checkbox"> Отправить пользователю доступы в личный кабинет</label><br><br>
            <div class="pull-right">
                <div class="button-grey btns-margin-first" ui-sref="users">Назад к списку</div>
                <!--<div class="button-blue-login btns-margin-second" ui-sref="users.import({newUser: '3'})">Импорт</div>-->
                <!--{{_createdUser}}-->
                <div class="button-blue-login btns-margin-second" ng-click="addUsersFromCSV()">Импорт</div>

            </div>

        </div>
    </div>
</div>
<br>