
<!--<div ng-repeat="_user in userList">{{_user}}<br><br></div>-->
<!--<hr>-->
<!--<div ng-repeat="_user in userList">{{_user.roleId + " -> " + _user.role.description}}<br><br></div>-->

<div ui-view="">
    <div class="created-margin-0">
            <div class="info" ng-show="newUser">
                Пользователь {{newUser}} создан
            </div>
        </div>

    <div class="user-page-top">
        <a ui-sref="users.import"><div class="button-green">Импорт из CSV</div></a>
        <a ui-sref="users.create"><div class="button-grey">Создать</div></a>
    </div>

    <div class="divtableoverflov">
        <table class="table-users" cellpadding="4" cellspacing="1">
            <tr class="table-users-trhead">
                <!--{{sortParams}}-->
                <td ng-click="setSort('id')" ng-class="{'sort_asc':sortParams.id===1, 'sort_desc':sortParams.id===2}"><div>id</div></td>
                <td ng-click="setSort('email')"ng-class="{'sort_asc':sortParams.email===1,'sort_desc':sortParams.email===2}"><div>e-mail</div></td>
                <td ng-click="setSort('lastName')" ng-class="{'sort_asc':sortParams.lastName===1,'sort_desc':sortParams.lastName===2}"><div>фамилия</div></td>
                <td ng-click="setSort('firstName')" ng-class="{'sort_asc':sortParams.firstName===1,'sort_desc':sortParams.firstName===2}"><div>имя</div></td>
                <td ng-click="setSort('patronymic')" ng-class="{'sort_asc':sortParams.patronymic===1,'sort_desc':sortParams.patronymic===2}"><div>отчество</div>
                </td>
                <td ng-click="setSort('role')"ng-class="{'sort_asc':sortParams.role===1,'sort_desc':sortParams.role===2}"><div>роль</div></td>
                <td ng-click="setSort('class')"ng-class="{'sort_asc':sortParams.class===1,'sort_desc':sortParams.class===2}"><div>класс</div></td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr class="table-users-trtop">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text" placeholder="admin@domen.ru" ng-model="sendSearchRequest.email" ng-keyup="sendFilters($event)">
                    </div>
                </td>
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text" placeholder="" ng-model="sendSearchRequest.firstName" ng-keyup="sendFilters($event)">
                    </div>
                </td>
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text" placeholder="" ng-model="sendSearchRequest.lastName" ng-keyup="sendFilters($event)">
                    </div>
                </td>
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text" placeholder="" ng-model="sendSearchRequest.patronymic" ng-keyup="sendFilters($event)">
                    </div>
                </td>
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text" placeholder="" ng-model="sendSearchRequest.role" ng-keyup="sendFilters($event)">
                    </div>
                </td>
                <td class="table-users-trtop-search" >
                    <div>
                        <input type="text" ng-model="sendSearchRequest.class" ng-keyup="sendFilters($event)">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="table-users-trbottom" ng-repeat="_user in userList">
                <td class="idcenter" ng-bind="_user.id">1</td>
                <td ng-bind="_user.email">admin@domen.ru</td>
                <td ng-bind="_user.firstName">Сидоров</td>
                <td ng-bind="_user.lastName">Иван</td>
                <td ng-bind="_user.patronymic">Петрович</td>
                <td ng-bind="_user.role.description">Администраффффтор</td>
                <td ng-bind="_user.learner.class.className">-</td>
                <td class="tdlast-magnifier" ui-sref="users.userview({id: _user.id})"></td>
                <td class="tdlast-pencil" ui-sref="users.edit({id: _user.id})"></td>
                <td class="tdlast-cross" ng-click="showDeleteModal('пользователя', deleteUser, _user.id)"></td>
            </tr>
        </table>
    </div>

    <div class="user-page-bottom" ng-if="pagination.length > 1">
        <div class="button-number" ng-click="goPreviousPage()">&#60;</div>

        <div class="button-number" ng-repeat="pgBtn in pagination" ng-click="goToStates(pgBtn.offset)" ng-class="{ 'active' : pgBtn.active }">
            <div>
                {{pgBtn.num + 1}}
            </div>
            <!--<div ng-show="pgBtn.num == pagination[pgBtn.num+1].num">-->
                <!--{{pgBtn.num + 1}}-->
            <!--</div>-->
        </div>
        <div class="button-number" ng-click="goNextPage()">&#62;</div>
    </div>
</div>