<div class="learner row">
    <div class="learner-top row" ng-init = 'editRecordSucsessful1=""'>
        <div class="learner-top-left col-sm-4">
            <table class="learner-top-left-table">
                <tr>
                    <td class="left">Учитель:</td>
                    <td>{{teacher}}</td>
                </tr>
                <tr>
                    <td class="left bottom">Тема урока:</td>
                    <td class="bottom">{{topic}}</td>
                </tr>
            </table>
        </div>
        <div class="learner-top-center col-sm-4">
            <div>
                <img src="/images/info.png">Урок {{state | stateLesson}}
            </div>
            <div class="class-right">До окончания : 00:40</div>
        </div>
        <div class="learner-top-right col-sm-4">
            <div class="button-red" ng-click="closed()" ui-sref="lesson.lessonschedule">Покинуть урок</div>
            <!--{{editRecordSucsessful}}-->
            <div class="button-grey"  ng-click="departed(true)" ng-hide="btnDeparted || btnArmUp">Отойти</div>
            <div class="button-blue-login" ng-click="departed(false)" ng-show="btnDeparted">Вернуться</div>
        </div>
    </div>
    <div class="learner-greenDiv col-sm-12 container-fluid" ng-show="plash">
        Тебя вызывают к доске<br>Ответ через {{timer}} сек.
    </div>
</div>

<div class="page-center">
    <div class="lesson lesson-run lesson-end">
        <div class="row main-row">
            <div class="col-sm-4">
                <div class="section-left cams">
                    <div class="cams-top">
                        <div class="text-title">Видео урока</div>
                    </div>
                    <div class="cams-images img-indent">
                        <video id="remoteVideo" width="318" height="200" autoplay>
                        </video>

                        <div class="cams-preview-imgs">
                            <video emit-last-repeater-element id="remoteVideo{{$index}}" width="79" height="45" autoplay ng-repeat="nextCamera in camerasList" ng-if="$index" ng-click="changeVideoWindow($index)"></video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 center">
                <div class="section">
                    <div class="common-top students-top">
                        <div class="text-title">Мое видео</div>
                        <div>
                            <video id="localVideo" width="303" height="217" autoplay></video>
                        </div>

                        <div id="soundChange" class="records_view-top-text-left-bottom-right align-element-sound" ng-click="soundOff()">
                            <div class="progressSound">
                                <div class="progressSound-play" ng-click="$event.stopPropagation()">
                                    <input type="range" ng-mousemove="changeVolume07($event)" ng-click="changeVolume07($event)" id="volume07" min="0" max="100" class="vertical" value="60">
                                </div>
                                <div class="vertical-external" >
                                    <div class="vertical-external-in">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="button-green" ng-click="armUp(true)" ng-hide="btnArmUp || btnDeparted">Поднять руку</div>
                        <br><div class="button-grey" ng-click="armUp(false)" ng-show="btnArmUp">Опустить руку</div>
                        <div class="records_view-top-text-right" id="table-prikrepit">
                            <div class="records_view-top-text-right-top">Прикрепленные материалы</div>

                            <table class="records_view-top-text-right-table">
                                <tr ng-repeat="row in filelist">
                                    <td class="records_view-top-text-right-table-11"><a ng-href="/images/upload/files/{{row.fileName}}" target="_self" download="{{row.sourceFileName}}" class="word-icon">{{row.sourceFileName}}</a></td>
                                    <td class="records_view-top-text-right-table-2"></td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td class="records_view-top-text-right-table-12">Название документа.pptx</td>-->
                                    <!--<td class="records_view-top-text-right-table-2"></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="records_view-top-text-right-table-13">Название документа.xls</td>-->
                                    <!--<td class="records_view-top-text-right-table-2"></td>-->
                                <!--</tr>-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 right">
                <div class="section messages">
                    <div class="common-top messages-top">
                        <span class="text-title">Сообщение учителю</span>
                    </div>
                    <div ng-class="{'lesson-run': chat.messages.length, 'messages-items': !chat.messages.length}">
                        <div class="message-at-start">
                            <h3>За выбранный период сообщений нет</h3>
                        </div>
                        <div class="message-at-run chat-container">
                            <!--<div class="button-green show-new-messages">
                                <span>Показать новые сообщения (2)</span>
                            </div>-->
                            <div ng-repeat="singleMessage in chat.messages">
                                <div class="message-item">
                                    <p class="message-date"><span>{{singleMessage.createdAt | dateTimeFilter}}</span></p>
                                    <h5 class="message-sender">{{singleMessage.user.firstName}} {{singleMessage.user.lastName}} {{singleMessage.user.patronymic}}</h5>
                                    <p class="message-text">{{singleMessage.message}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="messages-send">
                        <label for="write-message">Написать сообщение:</label>
                        <textarea id="write-message" ng-model="chat.message" ng-keyup="chat.keyUp($event)"></textarea>
                        <div class="button-grey" ng-click="chat.addMessage()">Отправить</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
