<div ui-view>
    <div class="lesson lesson-run">
        <div class="row top-info" ng-class="{'lesson-run': classRun}">
            <!--кнопки управления состоянием урока начальный экран-->
            <div class="row">
                <div class="top-btns-wrp pull-right buttons-at-start col-md-4">
                    <span class="remaiwning">До окончания: 00:45</span>
                    <div class="button-green" ng-click="lessonRun()" ng-hide="notStart">Начать</div>
                    <!--<div class="button-grey" ui-sref="lesson.create">Создать заново</div>-->
                </div>
                <div class="col-md-4" ng-show="editTag">
                    <label for="tag">Редактировать теги</label>
                    <input type="text" class="form-control tag-input" ng-model="tagEdit" id="tag">
                    <div class="button-green tag-btn" ng-click="editedTag()">Сохранить</div>
                </div>
                <!--кнопки управления состоянием урока во время урока-->
                <div class="top-btns-wrp pull-right buttons-at-run col-md-4">
                    <div class="row">
                        <span class="remaining col-md-12">До окончания: 00:43</span>
                        <div class="button-grey col-md-6" ng-click="lessonPause(true)"
                             ng-show="classPause && !timeout && !classEnd">Приостановить</div>
                        <div class="button-grey col-md-6" ng-click="lessonContinue(true)" ng-show="classContinue">
                            Продолжить
                        </div>
                        <div class="button-red col-md-6" ng-click="lessonEnd()" ng-hide="classEnd || timeout">
                            Завершить
                        </div>
                        <div class="button-red col-md-6" ui-sref="schedule" ng-show="classEnd">
                            Выйти из кабинета
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-row">
            <!--officeList: <br>-->
            <!--{{officeList}}-->
            <!--<br><br>-->
            <!--officeId: <br>-->
            <!--{{schedule.data.officeId}}-->
            <!--<br><br>-->
            <!--camerasList: <br>-->
            <!--{{camerasList}}-->
            <!--<br><br>-->
            <!--{{schedule.data.officeId}}-->
            <!--camerasConnectedByCurrentOffice: <br>-->
            <!--{{camerasConnectedByCurrentOffice}}-->
            <!--<br><br>-->
            <!--левая колонка-->
            <div class="col-sm-4" ng-class="{'lesson-run': classRun}">

                <!--настройки микрофона и звука-->
                <div class="section settings">
                    <!--<div class="mic">-->
                        <!--<i class="lesson-icon mic-icon"></i>-->

                        <!--<div class="bar mic-bar">-->
                            <!--<div class="bar-fill mic-progress"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="volume">
                        <i class="lesson-icon volume-icon" ng-click="soundOff()"></i>

                        <div class="bar volume-bar">
                            <div class="volume-progress">
                                <input type="range" ng-mousemove="changeVolume07($event)"
                                       ng-click="changeVolume07($event)" id="volume07"
                                       min="0" max="100" class="vertical" value="60">
                            </div>
                        </div>
                    </div>
                </div>

                <!--контейнер с камерой класса-->
                <div class="section cams">
                    <div class="cams-top" ng-class="{'lesson-run': classRun, 'lesson-stop': lessonEnd}">
                        <span class="pull-left">Камеры</span>

                        <!--<div class="button-grey pull-right blocked  btn-blocked"><span>Блокировать</span></div>-->
                        <!--<div class="button-grey pull-right unblocked btn-unblocked"><span>Разблокировать</span></div>-->
                    </div>
                    <!--изображения с камер заглушки-->
                    <div class="cams-at-start">
                        <div class="cams-images">
                            <div class="cams-main-img">
                                <img src="/images/cams-preview/1.jpg" alt="preview"/>
                            </div>
                            <div class="cams-preview-imgs">
                                <img src="/images/cams-preview/2.jpg" alt="little-preview"/>
                                <img src="/images/cams-preview/2.jpg" alt="little-preview"/>
                                <img src="/images/cams-preview/2.jpg" alt="little-preview"/>
                                <img src="/images/cams-preview/2.jpg" alt="little-preview"/>
                            </div>
                        </div>
                    </div>

                    <!--изображения с камер во время урока-->
                    <div class="cams-at-run">
                        <div class="cams-images">
                            <div class="cams-main-img">
                                <video id="remoteVideo" width="318" height="200" autoplay>
                                </video>
                            </div>
                            <div class="cams-preview-imgs">
                                <video emit-last-repeater-element id="remoteVideo{{$index}}" width="79" height="45" autoplay ng-repeat="nextCamera in camerasList" ng-if="$index" ng-click="changeVideoWindow($index)">
                                    <img src="/images/157.png" alt="little-preview"/>
                                </video>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>

                <!--контейнер с камерой ученика-->
                <div class="section student">
                    <div class="cams-top student-top">
                        <span class="pull-left">Ученик</span>

                        <!--<div class="button-grey pull-right"><span>Блокировать</span></div>-->
                    </div>
                    <div class="student-image" ng-hide='classRun'>
                        <img src="/images/cams-preview/1.jpg" alt="preview"/>
                    </div>
                    <video id='learnerVideo' width="318" height="200" autoplay ng-show="classRun"></video>
                </div>

                <!--котейнер с материалами-->
                <div class="section materials">
                    <div class="cams-top materials-top">
                        <!--<span class="pull-left">Материалы</span>-->
                        <!--<div class="fileUploading" ng-repeat="item in uploader.queue">-->
                            <!--&lt;!&ndash;{{item}}&ndash;&gt;-->
                            <!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 200, height: 200 }"></div>-->
                            <!--<div class="button-green" ng-click="item.upload()"-->
                                 <!--ng-disabled="item.isReady || item.isUploading || item.isSuccess">Загрузить</div>-->
                        <!--</div>-->
                        <div class="button-grey pull-right" onclick="$('#selectFile').click();" ng-click="b=true"><span>Добавить</span></div>
                        <br>
                        <br>
                        <!--<input id="selectAvatar" type="file" nv-file-select="" uploader="uploader" name="'avatar" ng-hide="true"/>-->
                        <!--<div class="button-grey pull-right"><span>Добавить</span></div>-->
                        <div class="uploadFiles">
                            <div class="addedFiles">
                                <div ng-repeat="item in uploader.queue">
                                    <div class="pull-left">{{ item.file.name }}</div>
                                    &nbsp;&nbsp;&nbsp;
                                    <!--<div class="progress" style="margin-bottom: 0;" ng-show="uploader.isHTML5">-->
                                        <!--<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>-->
                                    <!--</div>-->

                                    <div class="text-center pull-left">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </div>

                                    <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                                        <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
                                    <!--</button>-->
                                    <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">-->
                                        <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
                                    <!--</button>-->
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()"  class="pull-right" ng-hide="item.isSuccess">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    <br>
                                </div><br>
                                <div>
                                    <div>
                                        <!--Queue progress:-->
                                        <div class="progress" style="" ng-show="a">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll(); a=true" ng-disabled="!uploader.getNotUploadedItems().length" ng-show="b">
                                        <span class="glyphicon glyphicon-upload"></span> Загрузить файлы
                                    </button>
                                    <!--<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">-->
                                        <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel all-->
                                    <!--</button>-->
                                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" ng-show="b">
                                        <span class="glyphicon glyphicon-trash"></span> Удалить все
                                    </button>
                                </div>
                            </div>
                            <div class="buttonsForUploadFiles">
                                <input id="selectFile" type="file" nv-file-select="" uploader="uploader" ng-hide="true" multiple  /><br/>
                            </div>
                        </div>

                    </div>
                    <div class="materials-main">

                        <!--материалов нет-->
                        <div ng-show="filelist.length === 0">
                            <h3>Материалов нет</h3>
                        </div>

                        <!--материалы есть-->
                        <div ng-show="filelist.length !== 0">
                            <table class="materials-table">
                                <tbody ng-repeat="row in filelist">
                                <tr>
                                    <!--<div class="pull-left {{item.file.name | pictureFileExtensions}}">{{ item.file.name }}</div>-->
                                    <!--<td><a href="#" class="word-icon">{{row.sourceFileName}}</a></td>-->
                                    <td class="materials-table-tdleft">
                                        <div class="{{row.sourceFileName | pictureFileExtensions}}"></div>
                                    </td>
                                    <td>
                                        <a ng-href="/images/upload/files/{{row.fileName}}" target="_self" download="{{row.sourceFileName}}">{{row.sourceFileName}}</a>
                                    </td>
                                    <td class="download"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--центральная колонка-->
            <div class="col-sm-4 center">
                <div class="section students" ng-class="{'lesson-run': classRun}">
                    <div class="common-top students-top">
                        <span>Ученики</span>

                        <!--кнопки просмотра статуса учеников-->
                        <div class="common-top-btns" >
                            <div class="button-grey" ng-click="active(0,act)" ng-class="{'active':action===0}">На уроке</div>
                            <div class="button-grey" ng-click="active(1,act)" ng-class="{'active':action===1}">Подняли руку</div>
                            <div class="button-grey" ng-click="active(2,act)" ng-class="{'active':action===2}">Отсутствуют</div>
                        </div>
                    </div>

                    <!--список учеников-->
                    <div class="students-list students-at-run" ng-if="action != null">
                        <div class="student-list-item" ng-repeat="learner in learners | filter: sortParams">
                            <img ng-src="{{(learner.avatarName!== null) ? '/images/upload/avatars/'+learner.avatarName : 'images/avatars/user.jpg'}}" alt="student avatar" height="80px" width="50px"/>
                            <div class="students-list-item-descr">
                                <h5>{{learner.user.firstName}} {{learner.user.lastName}} {{learner.user.patronymic}}</h5>
                                <div ng-hide="learner.departed || learner.id === _learner_">
                                    <div class="button-blue" ng-click="callToStudent(learner.user.id)">Вызвать</div>
                                    <div class="button-green" ng-show="learner.armUp">Поднял руку</div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--<div class="student-list-item">-->
                            <!--<img src="/images/student-2.jpg" alt="student avatar"/>-->

                            <!--<div class="students-list-item-descr">-->
                                <!--<h5>Надежда сидорова</h5>-->
                                <!--<div ng-class="{'hide-btn': lessonEnd}">-->
                                    <!--<div class="button-blue" ng-click="callToStudent()">Вызвать</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="student-call" ng-show="call == true" ng-class="{'hide-btns-from-students': lessonEnd}">
                        <p>Вызывается Николай Тимофеев</p>

                        <p>Ученик будет готов через {{timer1}} сек</p>

                        <div class="button-red" ng-click="stopCallToStudent()">Отменить вызов</div>
                    </div>
                </div>
            </div>

            <!--правая колонка-->
            <div class="col-sm-4 right">
                <div class="section messages">
                    <div class="common-top messages-top">
                        <span>Сообщения</span>

                        <div class="common-top-btns buttons-wrp">
                            <div class="button-grey" ng-click="active(action,0)" ng-class="{'active':act===0}">Новые</div>
                            <div class="button-grey" ng-click="active(action,1)" ng-class="{'active':act===1}">2 дня</div>
                            <div class="button-grey" ng-click="active(action,2)" ng-class="{'active':act===2}">Все</div>
                        </div>
                    </div>

                    <!--чат-->
                    <div ng-class="{'lesson-run': chat.messages.length, 'mess   ages-items': !chat.messages.length}">
                        <div class="message-at-start">
                            <h3>За выбранный период сообщений нет</h3>
                        </div>
                        <div class="message-at-run chat-container">
                            <!--<div class="button-green show-new-messages">
                                <span>Показать новые сообщения (2)</span>
                            </div>-->
                            <div ng-repeat="singleMessage in chat.messages">
                                <div class="message-item">
                                    <p class="message-date"><span>{{singleMessage.createdAt | dateTimeFilter}}</span></p>
                                    <h5 class="message-sender">{{singleMessage.user.firstName}} {{singleMessage.user.lastName}} {{singleMessage.user.patronymic}}</h5>
                                    <p class="message-text">{{singleMessage.message}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="messages-send">
                        <label for="write-message">Написать сообщение:</label>
                        <textarea id="write-message" ng-model="chat.message" ng-keyup="chat.keyUp($event)"></textarea>
                        <div class="button-grey" ng-click="chat.addMessage()">Отправить</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
