<div class="lessonschedule-left">
    <div ui-view="">
        <div class="row common-note created-margin-0" ng-show="showNoteUpdated">
            <i class="info-icon"></i>
            <span class="note-text">Изменения сохранены</span>
        </div>
        <div class="schedule">

            <div class="content-container">


                <div class="row common-note created" ng-show="showNoteAdded">
                    <i class="info-icon"></i>
                    <span class="note-text">Урок алгебра добавлен</span>
                </div>

                <div class="row period-row clearfix">
                    <div class="option-div">
                        <span>Смотреть расписание: </span>
                        <drop-down list="{0:'Выбрать период', 1:'Неделю', 2:'Месяц', 3:'Три месяца', 4:'Полгода', 5:'Год'}"
                                   model="sr.periodId"></drop-down>
                    </div>

                    <div class="choose-date" ng-click="buildCalendar();showCalendar = !showCalendar">
                        <span ng-click="$event.stopPropagation();resetData()"><b style="font-size: 150%">&times;</b></span>
                        <span>Выбрать дату: {{sendSearchRequest.begin_ts}} </span>
                        <div class="icon-calendar">
                            <div class="calendar" ng-show="showCalendar">

                                <div class="div-calendar" ng-click="$event.stopPropagation()">
                                    <table id="calendar2">
                                        <thead>
                                        <tr class="thead-tr-top">
                                            <td class="td-arrow-left" ng-click="previousMonth()">‹</td>
                                            <td colspan="5">{{month}} {{currentDate.getFullYear()}}</td>
                                            <td class="td-arrow-right" ng-click="nextMonth()">›</td>
                                        </tr>
                                        <tr class="thead-tr-bottom">
                                            <td>Пн</td>
                                            <td>Вт</td>
                                            <td>Ср</td>
                                            <td>Чт</td>
                                            <td>Пт</td>
                                            <td>Сб</td>
                                            <td>Вс</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="v in testVar">
                                            <td ng-repeat="v1 in v" ng-bind="v1.name" ng-click="transferDate(v1.name)"
                                                ng-class="{'today':v1.current}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <table class="table-common" cellpadding="4" cellspacing="1">
                        <tr class="table-common-trhead">
                            <td class="tdlast arrows" ng-click="setSort('begin_ts')"
                                ng-class="{'sort_asc':sortParams.begin_ts===1,'sort_desc':sortParams.begin_ts===2}">
                                <div>Дата</div>
                            </td>
                            <td class="tdlast arrows" ng-click="setSort('time')"
                                ng-class="{'sort_asc':sortParams.time===1,'sort_desc':sortParams.time===2}">
                                <div>Время</div>
                            </td>
                            <td class="tdlast arrows">
                                <div>Предмет</div>
                            </td>
                            <td class="tdlast arrows">
                                <div>Преподаватель</div>
                            </td>
                            <td class="tdlast">Статус</td>
                            <td></td>
                        </tr>

                        <tr class="table-common-trtop">
                            <td class="table-common-trtop-search">
                            </td>
                            <td class="table-common-trtop-search">
                                <div>
                                    <input type="text" ng-model="sendSearchRequest.time" ng-keyup="sendFilterSchedule($event)">
                                </div>
                            </td>
                            <td>
                                <drop-down class="width160px" list="lesson"
                                           model="sr.lessonId"></drop-down>
                            </td>
                            <td>
                                <drop-down list="class"
                                           model="sr.classId"></drop-down>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!--<div ng-repeat="qwe in schedules"><div>{{qwe.id}}</div></div>-->

                        <tr class="table-common-trbottom date-row first" ng-repeat="schedule in schedules">
                            <td class="idcenter date"><span>{{schedule.begin_ts | dateFilter}}</span></td>
                            <td><span>{{schedule.time}}</span></td>
                            <td><span>{{schedule.lesson.lessonName}}</span></td>
                            <td>{{schedule.user.firstName}} {{schedule.user.lastName}} {{schedule.user.patronymic}}</td>
                            <td>
                                <div class="text-green">{{schedule.state | stateLesson}}</div>
                            </td>
                            <td><div class="button-grey button-come-learner" ui-sref="lesson.learner({id: schedule.id})" ng-hide="schedule.state===null">{{schedule.state == 3 ? 'Открыть' : 'Войти'}}</div></td>
                        </tr>

                    </table>
                    <div class="user-page-bottom" ng-if="pagination.length > 1">
                        <div class="button-number">&#60;</div>
                        <div class="button-number"ng-repeat="pgBtn in pagination" ng-click="goToState(pgBtn.offset)" ng-class="{ 'active' : pgBtn.active }">{{pgBtn.num + 1}}</div>
                        <div class="button-number">&#62;</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>


<div class="lessonschedule-right">
    <div class="lesson-start-teacher">
        <div class="mic-settings">
            <div class="lesson-start-teacher-top">
                <p>Проверка видео и звука</p>
                <a href="#">Как настроить микрофон?</a>
            </div>
            <!--<img src="/images/teacher.jpg" alt="Учитель"/>-->
            <video id="videoTest" width="303" height="217" autoplay></video>
            <div class="mic-note" ng-show="micAlertShow">
                <span>Доступ к микрофону открыт</span>
            </div>

            <div class="lesson-start-teacher-settings">
                <!-- <div class="mic">
                   <i class="lesson-icon mic-icon"></i>

                   <div class="bar mic-bar">
                     <div class="bar-fill mic-progress"></div>
                   </div>
                 </div>-->
                <div class="volume">
                    <div class="lesson-icon volume-icon">
                        <div class="play">
                            <div class="play-grey" ng-click="soundChange($event)">
                                <div class="play-grey-blue" ng-click="soundChange($event)">
                                    <div class="play-grey-circle" ng-style="{'height':playHeight}"
                                         ng-click="soundChange($event)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <audio src="/video/test.mp3" id="audioTest"></audio>
                    <div class="button-grey" onclick="document.getElementById('audioTest').play()">Проиграть тестовый
                        звук
                    </div>

                    <!--форма загрузки аватара-->
                    <br>
                    <br>
                    <br>
                    <!--Загрузите вашу фотографию:<br>-->
                    <div class="avatarUploading" ng-repeat="item in uploader.queue">
                        <!--{{item}}-->
                        Новый аватар:
                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 200, height: 200 }"></div>
                        <div class="button-green button-learner-avatar" ng-click="item.upload()"
                             ng-disabled="item.isReady || item.isUploading || item.isSuccess">Загрузить</div>
                        <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"-->
                                <!--ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                            <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
                    </div>
                    <div class="button-grey button-learner-avatar" onclick="$('#selectAvatar').click()" ng-hide="item">Выбрать аватар</div>
                    <input id="selectAvatar" type="file" nv-file-select="" uploader="uploader" name="'avatar" ng-hide="true"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lessonschedule-bottom">
    Архив уроков
    <div ui-view="">

        <div class="under-table">
            <span class="color-red">*</span> - записи помечены, как неудаляемые
        </div>

        <div class="divtableoverflov">

            <table class="table-users" cellpadding="4" cellspacing="1">
                <tr class="table-users-trhead">
                    <td class="tdfirst">
                        <div>id</div>
                    </td>
                    <td>
                        <div>Дата проведения</div>
                    </td>
                    <td>
                        <div>Предмет</div>
                    </td>
                    <td>
                        <div>Тема Урока</div>
                    </td>
                    <td>
                        <div>Класс</div>
                    </td>
                    <td>
                        <div>Преподаватель</div>
                    </td>
                    <td class="tdmiddle">
                        <div>Файлы</div>
                    </td>
                    <td class="tdmiddle">
                        <div>Теги</div>
                    </td>
                    <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr class="table-users-trtop">
                    <td class="idcenter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <!--
                    <td class="table-users-trtop-search">
                        <div ng-click="editMail=1" ng-hide="editMail">admin@domen.ru</div>
                        <div ng-show="editMail" ng-blur="editMail=0" contenteditable="true"></div>
                    </td>
                    -->
                    <td class="table-users-trtop-search">
                        <div>
                            <input type="text">
                        </div>
                    </td>
                    <td class="table-users-trtop">
                        <div>
                            <div class="inputclassall" ng-init="showDropDown2=false">
                                <div class="inputclassall-top" ng-click="showDropDown2=!showDropDown2">
                                    <div class="inputclassall-top-input">Все</div>
                                    <div class="inputclassall-top-arrows"></div>
                                </div>
                                <div class="inputclassall-bottom" ng-show="showDropDown2">
                                    <div class="inputclassall-bottom-in">10В</div>
                                    <div class="inputclassall-bottom-in">10Б</div>
                                    <div class="inputclassall-bottom-in">9А</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="table-users-trtop-search">
                        <div>
                            <input type="text" placeholder="">
                        </div>
                    </td>
                    <td class="table-users-trtop">
                        <div>
                            <div class="inputclassall" ng-init="showDropDown2=false">
                                <div class="inputclassall-top" ng-click="showDropDown2=!showDropDown2">
                                    <div class="inputclassall-top-input">Все</div>
                                    <div class="inputclassall-top-arrows"></div>
                                </div>
                                <div class="inputclassall-bottom" ng-show="showDropDown2">
                                    <div class="inputclassall-bottom-in">10В</div>
                                    <div class="inputclassall-bottom-in">10Б</div>
                                    <div class="inputclassall-bottom-in">9А</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="table-users-trtop">
                        <div>
                            <div class="inputclassall" ng-init="showDropDown2=false">
                                <div class="inputclassall-top" ng-click="showDropDown2=!showDropDown2">
                                    <div class="inputclassall-top-input">Все</div>
                                    <div class="inputclassall-top-arrows"></div>
                                </div>
                                <div class="inputclassall-bottom" ng-show="showDropDown2">
                                    <div class="inputclassall-bottom-in">10В</div>
                                    <div class="inputclassall-bottom-in">10Б</div>
                                    <div class="inputclassall-bottom-in">9А</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td class="table-users-trtop-search record"><div> <input type="text" ng-model="sendSearchRequest.tag" ng-keyup="sendFilterRecord($event)"></div></td>
                    <td></td>
                </tr>
                <tr class="table-users-trbottom" ng-repeat="record in records">
                    <td class="idcenter">{{record.id}}</td>
                    <td>{{record.event_ts | dateFilter}}</td>
                    <td>{{record.lesson.lessonName}}</td>
                    <td>{{record.topic}}</td>
                    <td>{{record.class.className}}</td>
                    <td>{{record.user.firstName + ' ' + record.user.lastName + ' ' + record.user.patronymic}}</td>
                    <td class="tdlast-iconfiles"></td>
                    <td class="tdtag">{{record.tag}}</td>
                    <td class="tdlast-play" ui-sref="records.view({id: record.id})"><a title="Просмотр записи"></a></td>

                </tr>
            </table>

        </div>

        <div class="user-page-bottom">
            <div class="button-number">&#60;</div>
            <div class="button-number">1</div>
            <div class="button-number">&#62;</div>
        </div>

    </div>
</div>