<div class="lesson-start">
  <div class="row">
    <div class="col-md-6">
      <div class="present">
        <table class="common-present-table">
          <tr class="present-table-row">
            <td class="present-table-name">Класс:</td>
            <td class="present-table-value">{{className}}</td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">Предмет:</td>
            <td class="present-table-value">{{lessonName}}</td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">Кабинет:</td>
            <td class="present-table-value">

              <drop-down list="offices" model="officeId"></drop-down>

              <p class="error error-class-num" ng-show="busy">В кабинете идет урок</p>
            </td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">Тема урока:</td>
            <td class="present-table-value">
              <label for="lesson-theme"></label>
              <textarea id="lesson-theme" ng-model="topic"></textarea>
              <p class="error error-lesson-theme" ng-hide="topic">Укажите тему урока</p>
            </td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">Длительность урока:</td>
            <td class="present-table-value">
              <label for="lesson-time"></label>
              <!---->
              <input type="text" id="lesson-time" ng-change="durationLesson()" class="lesson-time" ng-model="duration">
              <!---->
              <span>мин.</span>

              <p class="error error-lesson-duration" ng-hide="duration">Укажите длительность урока</p>
            </td>
          </tr><div class="aaa" ng-repeat="a in schedules">{{a}}</div>
          <tr class="present-table-row">
            <td class="present-table-name">Сейчас:</td>
            <td class="present-table-value">{{time}}</td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">Завершение:</td>
            <td class="present-table-value">{{durationEnd}}</td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">Теги:</td>
            <td class="present-table-value">
              <label for="lesson-tags"></label>
              <input type="text" id="lesson-tags" class="lesson-tags" ng-model="tag"/>
              <p class="error error-lesson-tags" ng-hide="tag">Укажите теги</p>
            </td>
          </tr>
        </table>
        <div class="add-buttons-wrp">
          <div class="button-blue present-button" ng-click="updateSchedule()" ng-hide="notStart">Начать</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 pull-right">
      <div class="lesson-start-teacher">
        <div class="mic-settings">
          <div class="lesson-start-teacher-top">
            <p>Проверка видео и звука</p>
            <!--<a href="#">Как настроить микрофон?</a>-->

            <div class="hint-microphone">
              <span class="span-hint"
                    data-hint-up="Подключите микрофон.
                    Настройка начинается с подключения микрофона.
                    ПУСК-ВСЕ ПРОГРАММЫ-СТАНДАРТНЫЕ-ГРОМКОСТЬ.. .
                    Появится поле настройки звука. Если у вас там нет установки громкости
                    микрофона ? -тут же смотрите Кнопочку СВОЙСТВА слева вверху: выберите МИКРОФОН.
                    Все настройки зависят от вашей звуковой карты, колонок, прохождения звукового
                    сигнала, памяти и т. д..">
                Как настроить микрофон?
              </span>
            </div>

          </div>
          <!--<img src="/images/teacher.jpg" alt="Учитель"/>-->
          <div id="mainScreen">
            <video id="videoTest" width="303" height="217" autoplay></video>
          </div>
          <div class="mic-note" ng-show="micAlertShow">
            <span>Доступ к микрофону открыт</span>
          </div>

          <div class="lesson-start-teacher-settings">
           <!-- <div class="mic">
              <i class="lesson-icon mic-icon"></i>

              <div class="bar mic-bar">
                <div class="bar-fill mic-progress"></div>
              </div>
            </div>-->
            <div class="volume">

              <div id="soundChange" class="records_view-top-text-left-bottom-right align-element-sound" ng-click="soundOff()">
                <div class="progressSound">
                  <div class="progressSound-play" ng-click="$event.stopPropagation()">
                    <input type="range" ng-mousemove="changeVolume07($event)" ng-click="changeVolume07($event)" id="volume07" min="0" max="100" class="vertical" value="60">
                  </div>
                  <div class="vertical-external" >
                    <div class="vertical-external-in">
                    </div>
                  </div>
                </div>
              </div>


              <!--<div class="lesson-icon volume-icon">-->
                <!--<div class="play">-->
                <!--<div class="play-grey" ng-click="soundChange($event)">-->
                  <!--<div class="play-grey-blue" ng-click="soundChange($event)">-->
                    <!--<div class="play-grey-circle" ng-style="{'height':playHeight}" ng-click="soundChange($event)"></div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <audio src="/images/sound-test/audio-test-socrat.mp3" id = "audioTestSocrat"></audio>
              <div class="button-grey" onclick="document.getElementById('audioTestSocrat').play()">
                Проиграть тестовый звук
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <!--<select class="form-control">-->
    <!--<option ng-repeat="hour in arHours">{{arHours[hour]}}</option>-->
  <!--</select>-->
  <!--<select class="form-control">-->
    <!--<option ng-repeat="min in arMinutes">{{arMinutes[min]}}</option>-->
  <!--</select>-->

</div>
