 <div class="form-group edit" ui-view="">
    <div class="user-page">
        <form class="col-sm-6" ng-submit="regUser()">
                <div class="form-group ">
                    <label for="firstname">ФАМИЛИЯ</label>
                    <input class="form-control" id="firstname" ng-model="_createdUser.firstName">
                </div>

                <div class="form-group ">
                    <label for="secondname">ИМЯ</label>
                    <input class="form-control" id="secondname" ng-model="_createdUser.lastName">
                </div>

                <div class="form-group ">
                    <label for="lastname">ОТЧЕСТВО</label>
                    <input class="form-control" id="lastname" ng-model="_createdUser.patronymic">
                </div>

                <div class="form-group ">
                    <label for="introduction">КТО ВНЕДРИЛ</label>
                    <input class="form-control" id="introduction" ng-model="_createdUser.introduce">
                </div>

                <div class="form-group ">
                    <label for="email">E-MAIL</label>
                    <input type="email" class="form-control" id="email" ng-model="_createdUser.email" required>
                </div>

                <div class="form-group ">
                    <label for="phone">ТЕЛЕФОН</label>
                    <input class="form-control" id="phone" ng-model="_createdUser.phone">
                </div>

                <div class="form-group ">
                    <label >КУДА ВНЕДРЯЮТ</label>
                    <div autocomplete class="form-control" url="'/api/school/'" mod="_createdUser.implementing"></div>
                </div>

                <div class="form-group ">
                    <label for="count-class">КОЛ-ВО КЛАССОВ</label>
                    <input type="number" class="form-control" id="count-class" ng-model="_createdUser.school.numberOfClasses" required>
                </div>

                <div class="form-group">
                    <label for="time-belt">ЧАСОВОЙ ПОЯС</label>
                <select class="form-control" name="time-belt" id="time-belt">
                    <option value="">UTC+3 Москва</option>
                    <option value="">UTC+2 Украина</option>
                </select>
                </div>
            <div class="form-group">
                <label for="strPassGen">ПАРОЛЬ</label>

                <div class="form-inline">
                <input type="text" class="form-control sue-pass strPassGen" id="strPassGen" ng-model="_createdUser.password" required>
                <div class="button-grey pull-right" ng-click="genPass()">Содать новый пароль</div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label><input type="checkbox"> Сообщить пользователю об изменениях</label>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                <button class="button-blue-login sue-button" ng-click="regUser()">Сохранить</button>
                    </div>
                    <div class="col-sm-6">
                <div class="button-grey sue-button" ui-sref="superadmin-users">Отменить</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>