<div class="row view">
<br>
    <div class="user-page">
        <div class="created">
            <div class="info" ng-show="superAdminEdit">
                Данные изменены
            </div>
        </div>
    </div>
    <div class="userview-container-for-row">
        <div class="form-group">
            <div class="col-sm-2"><b>Фамилия:</b></div>
            <div class="col-sm-10">{{_userSelected.firstName}}</div>
        </div>
    </div>
    <div class="userview-container-for-row">
        <div class="form-group">
            <div class="col-sm-2"><b>Имя:</b></div>
            <div class="col-sm-10">{{_userSelected.lastName}}</div>
        </div>
    </div>
    <div class="userview-container-for-row">
        <div class="form-group">
            <div class="col-sm-2"><b>Отчество:</b></div>
            <div class="col-sm-10">{{_userSelected.patronymic}}</div>
        </div>
    </div>
    <div class="userview-container-for-row">
        <div class="form-group">
            <div class="col-sm-2"><b>Кто внедрил:</b></div>
            <div class="col-sm-10">{{_userSelected.introduce}}</div>
        </div>
    </div>
    <div class="userview-container-for-row">
        <div class="form-group">
            <div class="col-sm-2"><b>E-mail:</b></div>
            <div class="col-sm-10">{{_userSelected.email}}</div>
        </div>
    </div>
    <div class="userview-container-for-row">
        <div class="form-group">
            <div class="col-sm-2"><b>Телефон</b></div>
            <div class="col-sm-10">{{_userSelected.phone}}</div>
        </div>
    </div>
    <div class="userview-container-for-row">
        <div class="form-group">
            <div class="col-sm-2"><b>Куда внедряют:</b></div>
            <div class="col-sm-10">{{_userSelected.school.name}}</div>
        </div>
    </div>
    <div class="userview-container-for-row">
        <div class="form-group">
            <div class="col-sm-2"><b>Кол-во классов:</b></div>
            <div class="col-sm-10">{{_userSelected.school.numberOfClasses}}</div>
        </div>
    </div>
    <!--<div class="userview-container-for-row">-->
        <!--<div class="form-group">-->
            <!--<div class="col-sm-2"><b>Пароль:</b></div>-->
            <!--<div class="sue-pass">************</div>-->
            <!--<div class="button-showpassword btn-pass-mini">Показать пароль</div>-->
        <!--</div>-->
    <!--</div>-->
    <br>
    <div class="form-group">
        <div class="row btn-row">
            <!--<div class="button-blue-login" ui-sref="superadmin-users.edit">Редактировать</div>-->
            <div class="button-blue-login" ui-sref="superadmin-users.edit({id:userId})">Редактировать</div>
            <div class="button-grey" ui-sref="superadmin-users" ui-sref="users">Назад к списку</div>
        </div>
    </div>
</div>
