<div class="schedule-add">
    <div class="row common-note created-margin-0" ng-show="showNoteUpdated">
        <i class="info-icon"></i>
        <span class="note-text">Изменения сохранены</span>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form class="common-form">
                <div class="form-group">
                    <label>Дата:</label>
                    <input type="text" id="schedule-last-name" ng-model="schedule.begin_ts" ng-blur="showCalendar=false" ng-focus="buildCalendar();showCalendar=true"/>
                        <div class="icon-calendar-add" ng-click="buildCalendar(); showCalendar = !showCalendar">
                        <div class="calendar" ng-show="showCalendar">
                            <div class="div-calendar" ng-click="$event.stopPropagation()">
                                <table id="calendar2">
                                    <thead>
                                    <tr class="thead-tr-top">
                                        <td class="td-arrow-left" ng-click="previousMonth()">‹</td>
                                        <td colspan="5">{{month}} {{currentDate.getFullYear()}}</td>
                                        <td class="td-arrow-right" ng-click="nextMonth()">›</td>
                                    </tr>
                                    <tr class="thead-tr-bottom">
                                        <td>Пн</td>
                                        <td>Вт</td>
                                        <td>Ср</td>
                                        <td>Чт</td>
                                        <td>Пт</td>
                                        <td>Сб</td>
                                        <td>Вс</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="v in testVar">
                                        <td ng-repeat="v1 in v" ng-mousedown="transferDate(v1.name)" ng-class="{'today':v1.current}" style="cursor: pointer">{{v1.name}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label>Часы:</label>
                    </div>
                    <div class="col-xs-6">
                        <label>Минуты:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <select class="form-control" ng-model="timeHour">
                            <option ng-repeat="hour in arHours">{{arHours[hour]}}</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <select class="form-control" ng-model="timeMin">
                            <option ng-repeat="min in arMinutes">{{arMinutes[min]}}</option>
                        </select>
                    </div>
                </div>

                <label>Предмет:</label>

                <div id="schedule-lesson">
                    <drop-down list="lesson" model="schedule.lessonId"></drop-down>
                </div>

                <label >Класс:</label>

                <div id="schedule-class">
                    <drop-down list="class" model="schedule.classId"></drop-down>
                </div>
                <label>Кабинет</label>
                <drop-down list="offices" model="schedule.officeId"></drop-down>
                <label>Учитель:</label>
                <drop-down list="users" model="schedule.userId"></drop-down>
                <label>Тема урока</label>
                <textarea id="lesson-theme" ng-model="schedule.topic"></textarea>
                <label>Длительность урока (в мин):</label>
                <div>
                <input type="text" id="lesson-time" ng-change="durationLesson()" class="lesson-time" ng-model="schedule.duration">
                </div>
                <label>Теги</label>
                <input type="text" id="lesson-tags" class="lesson-tags" ng-model="schedule.tag"/>
                <div class="buttons-wrp">
                        <div class="button-blue button-blue-common-form"  ui-sref="subjects"
                             ng-click="createSchedule()">Создать</div>
                        <!--<div class="button-blue button-blue-common-form"  ui-sref="schedule" ng-click="createSchedule()">Создать</div>-->
                        <div class="button-green button-green-common-form"
                             ui-sref="schedule.add({showNoteUpdated: true})"
                             ng-click="createSchedule()">Создать и продолжить
                        </div>
                </div>
                <div class="button-grey button-grey-schedule" ui-sref="subjects">Назад к списку</div>
            </form>
        </div>
    </div>
</div>