<div class="schedule-edit">
  <div class="row">
    <div class="col-md-4">
      <form class="common-form">
        <div class="form-group">
          <label for="schedule-last-name">Дата:</label>
          <input type="text" id="schedule-last-name" ng-model="schedule.begin_ts"/>

          <label for="schedule-name">Время начала:</label>
          <input type="text" id="schedule-name" ng-model="schedule.time"/>


          <label for="schedule-lesson">Предмет:</label>

          <div id="schedule-lesson">
            <drop-down list="lesson" model="schedule.lessonId"></drop-down>
            <!--<select class="form-control" ng-model="schedule.lessonId">-->
            <!--<option ng-repeat="lesson in lessons" value="{{lesson.id}}">{{lesson.lessonName}}</option>-->
            <!--</select>-->
          </div>


          <label for="schedule-class">Класс:</label>

          <div id="schedule-class">
            <drop-down list="class" model="schedule.classId"></drop-down>
            <!--<select class="form-control" ng-model="schedule.classId">-->
              <!--<option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>-->
            <!--</select>-->
          </div>

          <div class="buttons-wrp">
            <div class="button-blue button-blue-common-form" ui-sref="schedule" ng-click="editSchedule()">Сохранить</div>
            <div class="button-grey button-grey-common-form" ui-sref="schedule">Отменить</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>