<div ui-view="">
    <div class="row common-note created-margin-0" ng-show="showNoteUpdated">
        <i class="info-icon"></i>
        <span class="note-text">Изменения сохранены</span>
    </div>
    <div class="schedule">
        <div class="content-container">
            <div class="row common-note created" ng-show="showNoteAdded">
                <i class="info-icon"></i>
                <span class="note-text">Урок алгебра добавлен</span>
            </div>

            <!--<div class="row clearfix add-lesson">-->
                <!--<div class="button-green common-green" ui-sref="schedule.add">Добавить урок</div>-->
            <!--</div>-->

            <div class="row period-row clearfix">
                <div class="option-div">
                    <span>Смотреть расписание: </span>
                    <drop-down list="{0:'Выбрать период', 1:'Неделю', 2:'Месяц', 3:'Три месяца', 4:'Полгода', 5:'Год'}"
                               model="sr.periodId"></drop-down>
                </div>
                <div class="choose-date" ng-click="buildCalendar();showCalendar = !showCalendar">
                    <span ng-click="$event.stopPropagation(); resetData()"><b style="font-size: 150%">&times;</b></span>
                    <span>Выбрать дату: {{sendSearchRequest.begin_ts}} </span>
                    <div class="icon-calendar">
                        <div class="calendar" ng-show="showCalendar">

                            <div class="div-calendar" ng-click="$event.stopPropagation()">
                                <table id="calendar2">
                                    <thead>
                                        <tr class="thead-tr-top">
                                            <td class="td-arrow-left" ng-click="previousMonth()">‹</td>
                                            <td colspan="5">{{month}} {{currentDate.getFullYear()}}</td>
                                            <td class="td-arrow-right" ng-click="nextMonth()">›</td>
                                        </tr>
                                        <tr class="thead-tr-bottom">
                                            <td>Пн</td>
                                            <td>Вт</td>
                                            <td>Ср</td>
                                            <td>Чт</td>
                                            <td>Пт</td>
                                            <td>Сб</td>
                                            <td>Вс</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="v in testVar">
                                            <td ng-repeat="v1 in v" ng-click="transferDate(v1.name)" ng-class="{'today':v1.current}">{{v1.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <table class="table-common" cellpadding="4" cellspacing="1">
                    <tr class="table-common-trhead">
                        <td class="tdlast arrows"
                            ng-click="setSort('begin_ts')"
                            ng-class="{'sort_asc':sortParams.begin_ts===1,'sort_desc':sortParams.begin_ts===2}">
                            <div>Дата</div>
                        </td>
                        <td>
                            <div>Время</div>
                        </td>
                        <td>
                            <div>Предмет</div>
                        </td>
                        <td>
                            <div>Класс</div>
                        </td>
                        <td class="tdlast"></td>
                        <!--<td class="tdlast"></td>-->
                        <!--<td class="tdlast"></td>-->
                    </tr>
                    <tr class="table-common-trtop">
                        <td class="table-common-trtop-search">
                            <div> <input type="text" placeholder="" ng-model="sendSearchRequest.begin_ts"
                                   ng-keyup="sendFilter($event)">
                            </div>
                        </td>
                        <td class="table-common-trtop-search">
                            <div>
                                <input type="text" placeholder="" ng-model="sendSearchRequest.time"
                                ng-keyup="sendFilter($event)">
                            </div>
                        </td>
                        <td>
                            <drop-down list="lesson" model="sr.lessonId"></drop-down>
                        </td>
                        <td>
                            <drop-down list="class" model="sr.classId"></drop-down>
                        </td>
                        <td></td>
                        <td></td>
                        <!--<td></td>-->
                    </tr>
                        <tr class="table-common-trbottom date-row first" ng-repeat="schedule in schedules">
                        <td class="idcenter date" ng-class="{'date-td': schedule.begin_ts === schedules[$index - 1].begin_ts}">
                            <span ng-if="schedule.begin_ts !== schedules[$index - 1].begin_ts">{{schedule.begin_ts | dateFilter}}</span></td>
                        <td><span>{{schedule.time}}</span></td>
                        <td><span>{{schedule.lesson.lessonName}}</span></td>
                        <td>{{schedule.class.className}}</td>
                        <td>
                            <div class="button-grey" ng-if="(schedule.state === null) && oldDate(schedule.begin_ts)" ng-click="scheduleSwap()" ui-sref="lesson.create({id:schedule.id})">Начать урок</div>
                            <div class="button-grey" ng-if="schedule.state" ng-click="scheduleSwap()" ui-sref="lesson({id:schedule.id})">Войти в урок</div>

                            <!--<div class="button-grey" ng-if="schedule.state==null" ng-click="scheduleSwap()">Начать урок test</div>-->
                            <!--<div class="button-blue-login" ng-if="schedule.state!==null" ng-click="scheduleSwap()">Войти в урок test</div>-->

                        </td>
                        <td class="tdlast-pencil" ui-sref="schedule.edit({id: schedule.id})"></td>
                        <!--<td class="tdlast-cross" ng-click="showDeleteModal('расписания', deleteSchedule, schedule.id)"></td>-->
                    </tr>
                </table>
                <div class="user-page-bottom" ng-if="pagination.length > 1">
                    <div class="button-number" ng-click="goPreviousPage()">&#60;</div>
                    <div class="button-number" ng-repeat="pgBtn in pagination" ng-click="goToState(pgBtn.offset)" ng-class="{ 'active' : pgBtn.active }">{{pgBtn.num + 1}}</div>
                    <div class="button-number" ng-click="goNextPage()">&#62;</div>
                </div>
            </div>
        </div>
    </div>
</div>