.lessons-create{
  .button-blue{
    &:hover{
      border: none;
      line-height: 40px;
    }
  }
  .button-grey{
    border: 1px solid #caced8;
    box-shadow: 0 1px 0 0 rgba(#08283d, .35);
    margin-left: 0;
    margin-top: 30px;
    width: 47.5%;
  }
}
