.archive {
  table.table-common {
    .button-grey {
      width: toPercents(120, 224);
      float: left;
      line-height: 30px;
      &.show-all {
        background: #fff;
        border: none;
        box-shadow: none
      }
    }
    .button-red {
      background-image: linear-gradient(to bottom, #d5210a, #b31500);
      line-height: 30px;
      width: toPercents(100, 224);
      float: right;
      &:hover {
        background-image: linear-gradient(to bottom, #b31500, #d5210a);
      }
      &.closed {
        background: #ffffff;
        color: #ff0000;
        box-shadow: none;
      }
    }

    .table-common-trhead {
      td {
        padding: 0;
        div {
          margin-bottom: 2px;
        }
        &:nth-child(7) {
          div {
            margin-left: 3px;
          }
        }
      }
    }

    .table-common-trtop-search {
      padding: 0 5px !important;
      div {
        margin: 0;
      }
    }
    .table-common-trtop {
      td {
        padding: 0 5px;
      }
      td:nth-child(1) {
        width: 70px;
      }
      td:nth-child(2) {
        width: 110px;
      }
      td:nth-child(3) {
        width: 150px;
      }
      td:nth-child(4) {
        width: 81px;
      }
      td:nth-child(5) {
        width: 149px;
      }
      td:nth-child(6) {
        width: 50px;
      }
      td:nth-child(7) {
        width: 89px;
      }
      td:nth-child(8) {
        width: 75px;
      }
      td:nth-child(9) {
        width: 397px;
      }
      td:nth-child(10) {
        width: 66px;
      }
    }
    input {
      width: 100%;
    }
    .inputclass {
      width: 100%;
      &-top-input {
        width: 100%;
      }
      &-top-arrows {
        width: toPercents(30, 117);
      }
    }
    .table-common-trbottom {
      td {
        padding: 8px 5px;
        &:nth-child(1) {
          > span {
            display: block;
          }
        }
        &:nth-child(6) {
          background: url(/images/icon-files.png) no-repeat center center;
        }
        &:nth-child(7) {
          font-size: 14px;
          color: #289be5;
          text-decoration: underline;
          cursor: pointer;
          text-align: right;
          span {
            display: block;
          }
        }
        &.can-remove {
          color: #3cb878;
        }
        &.cant-remove {
          color: #ff0000;
        }
        &.tdlast-play {
          background: url(/images/play.png) no-repeat center center;
        }
      }
      &:hover {
        .show-all {
          background: #eff1f5;
        }
        .closed {
          background: #eff1f5;
        }
        td {
          &.tdlast-play {
            background: url(/images/play-hover.png) no-repeat center center;
          }
        }
      }
    }
  }
}