<div ng-init="showDropDown1=false" class="auto-complete">
    <input ng-model="mod.text" ng-focus="showDropDown1=true" ng-blur="showDropDown1=false"/>
    <div class="inputclass-bottom" ng-show="showDropDown1">
        <div ng-repeat="row in list" class="inputclass-bottom-in"
             ng-mousedown="editMod(row,$event)">{{row.text}}
        </div>
    </div>
</div>