<div class="col-sm-4">
  <form class="office-page">

      <!--{{officeRow.number}}<br>-->
      <!--{{officeRow.id}}<br>-->
      <!--{{officeRow.lessonId}}<br>-->
      <!--{{lessonForCurrentClass.lessonName}}-->
    <h3>Редактировать кабинет</h3>

    <div class="form-group">
      <label for="office-number">№ кабинета:</label>
      <input type="text" class="form-control" id="office-number" placeholder="Введите номер кабинета" ng-model="officeRow.number">
    </div>

    <div class="form-group">

        <drop-down list="lesson" model="officeRow.lessonId"></drop-down>
        <br>

        <label><input type="checkbox" ng-model="officeRow.webCam">&nbsp;Транслировать веб-камеру</label>

    </div>


      <h3 class="office-cams">Камеры:</h3>
      <div class="cams-info">
          <div ng-repeat="nexCam in camerasConnectedByCurrentOffice">
              <table>
                  <span class="cam-name">Камера {{$index+1}}: <a href="" ng-click="deleteCam(nexCam.id)">&nbsp[удалить]</a> </span>
                  <tr>
                      <td>Имя камеры: </td>
                      <td> {{nexCam.name}}</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>URL: </td>
                      <td> {{nexCam.url}}</td>
                      <td class="tdlast-cross"></td>

                  </tr>
              </table>
          </div>
      </div>

      <h3 class="office-cams" ng-show="qwe">Камеры:</h3>

      <div ng-repeat="nextNewCam in newCams" ng-init="nextNewCam.cameraId='Выберите камеру'">
          <div class="form-group cam-select-form">
              <span class="cam-name">Камера {{$index+1}}:</span>

              <div>Выберите существующую камеру:</div>

              <drop-down list="cameras" model="nextNewCam.cameraId"></drop-down>

              <!--<select id="office" class="form-control" ng-init="nextNewCam.camNameSelected='0'" ng-model="nextNewCam.camNameSelected">-->
                  <!--<option value="0">Создать новую камеру</option>-->
                  <!--<option ng-repeat="camera in camerasList" value="{{$index}}" ng-if="">{{camera.name}}</option>-->
              <!--</select>-->

              <div ng-hide="+nextNewCam.cameraId">
                  <div>Или создайте новую:</div>
                  <input type="text" class="form-control" ng-model="nextNewCam.camName"
                         placeholder="Введите название камеры">
                  <input type="text" class="form-control" id="office-cam-url" ng-model="nextNewCam.url_cam"
                         placeholder="Введите URL камеры">
              </div>

              <div ng-show="+nextNewCam.camNameSelected">URL камеры: {{camerasList[nextNewCam.camNameSelected].url}}</div>

          </div>
      </div>

      <!--{{newCams}}-->
      <!--{{lesson}}-->
      <br>
      <div class="button-grey add-cam-btn" ng-click="addCam(); qwe=true">Подключить камеру</div>


    <!--<h3 class="office-outer-display">Внешний экран</h3>-->

    <!--<div class="form-group">-->
      <!--<label for="outer-display-select">Название:</label>-->

      <!--<select id="outer-display-select" class="form-control">-->
        <!--<option value="Выбрать камеру из списка">Выбрать экран из списка</option>-->
        <!--<option value="Камера 1">экран 1</option>-->
        <!--<option value="Камера 2">экран 2</option>-->
      <!--</select>-->
    <!--</div>-->

    <!--<div class="form-group add-office-form">-->
      <!--<label for="outer-display-url">URL:</label>-->
      <!--<input type="text" class="form-control" id="outer-display-url">-->

      <div class="add-buttons-wrp office-buttons-wrp">
        <div class="button-green" ng-click="editedOffice()">Сохранить</div>
        <div class="button-blue" style="margin-left: 0px" ui-sref="offices">Отменить</div>
      </div>
    </div>
  </form>
</div>
