<div ui-view="">

    <div class=" common-page-top">
        <div class="button-grey" ui-sref="offices.create">Создать</div>
    </div>
    <div class="divtableoverflov">
        <table class="table-offices" cellpadding="4" cellspacing="1">
            <tr class="table-offices-trhead">
                <td ng-click="setSort('id')"
                    ng-class="{'sort_asc': sortParams.id===1, 'sort_desc': sortParams.id===2}">
                    <div>id</div>
                </td>
                <td ng-click="setSort('number')" width="150px"
                    ng-class="{'sort_asc': sortParams.number===1, 'sort_desc': sortParams.number===2}">
                    <div>Кабинет</div>
                </td>
                <td ng-click="setSort('lessonName')"
                    ng-class="{'sort_asc': sortParams.lessonName===1, 'sort_desc': sortParams.lessonName===2}">
                    <div>Название предмета кабинета</div>
                </td>
                <!--<td ng-click="setSort('lessonName')">-->
                <!--<div>URL камеры&lt;!&ndash;<img src="images/upanddownarrows.png">&ndash;&gt;</div>-->
                <!--</td>-->
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>

            <tr class="table-offices-trtop">
                <td></td>
                <!--
                <td class="table-common-trtop-search">
                    <div ng-click="editMail=1" ng-hide="editMail">admin@domen.ru</div>
                    <div ng-show="editMail" ng-blur="editMail=0" contenteditable="true"></div>
                </td>
                -->
                <td class="table-offices-trtop-search">
                    <div>
                        <input type="text" placeholder="" ng-model="sendSearchRequest.number" ng-keyup="sendFilter($event)">
                    </div>
                </td>
                <td class="table-offices-trtop-search">
                    <div>
                        <input type="text" ng-model="sendSearchRequest.lesson" ng-keyup="sendFilter($event)">
                    </div>
                </td>
                <!--<td></td>-->
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="table-offices-trbottom" ng-repeat="office in officeList">
                <td class="idcenter">{{office.id}}</td>
                <td>{{office.number}}</td>
                <td>{{office.lesson.lessonName}}</td>
                <!--<td>{{office.url_cam}}</td>-->

                <td class="tdlast-magnifier" ui-sref="offices.data({id: office.id})"></td>
                <td class="tdlast-pencil" ui-sref="offices.edit({id: office.id})"></td>
                <td class="tdlast-cross" ng-click="showDeleteModal('кабинета', deleteOffice, office.id)"></td>
            </tr>
        </table>
    </div>
    <div class="user-page-bottom" ng-if="pagination.length > 1">
        <div class="button-number" ng-click="goPreviousPage()">&#60;</div>
        <div class="button-number" ng-repeat="pgBtn in pagination" ng-click="goToState(pgBtn.offset)" ng-class="{ 'active' : pgBtn.active }">
            {{pgBtn.num + 1}}
        </div>
        <div class="button-number" ng-click="goNextPage()">&#62;</div>
    </div>


</div>