<div ui-view>
    <div class="margins-sides-15">
        <div class="row common-note created" ng-show="created">
            <i class="info-icon"></i>
            <span class="note-text">Предмет {{created}} создан</span>
        </div>
        <div class="row">
            <div class="lessons">
                <div class="common-page-top">
                    <div class="button-grey" ui-sref="lessons.create">Создать</div>
                </div>
                <!--{{sortParams}}-->
                <div class="divtableoverflov">
                    <table class="table-common table-users" cellpadding="4" cellspacing="1">
                        <tr class="table-common-trhead table-users-trhead">
                            <td class="tdlast" ng-click="setSort('id')" ng-class="{'sort_asc':sortParams.id===1,'sort_desc':sortParams.id===2}"><div>id</div></td>
                            <td ng-click="setSort('lessonName')" ng-class="{'sort_asc':sortParams.lessonName===1,'sort_desc':sortParams.lessonName===2}"><div>Название</div></td>
                            <td ng-click="setSort('description')" ng-class="{'sort_asc':sortParams.description===1,'sort_desc':sortParams.description===2}"><div>Комментарий</div></td>
                            <td class="tdlast"></td>
                            <td class="tdlast"></td>
                            <td class="tdlast"></td>
                        </tr>
                        <tr class="table-common-trtop">
                            <td></td>
                            <td class="table-common-trtop-search">
                                <div>
                                    <input type="text" placeholder="" ng-model="sendSearchRequest.name"
                                           ng-keyup="sendFilter($event)">
                                </div>
                            </td>
                            <td class="table-common-trtop-search">
                                <div>
                                    <input type="text" placeholder="" ng-model="sendSearchRequest.description"
                                           ng-keyup="sendFilter($event)">
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-common-trbottom" ng-repeat="lesson in lessonsList">
                            <td class="idcenter">{{lesson.id}}</td>

                            <td>{{lesson.lessonName}}</td>
                            <td>{{lesson.description}}</td>

                            <td class="tdlast-magnifier" ui-sref="lessons.view({id:lesson.id})"></td>
                            <td class="tdlast-pencil"
                                ui-sref="lessons.edit({id:lesson.id, lessonName:lesson.lessonName, description:lesson.description})"></td>
                            <td class="tdlast-cross" ng-click="showDeleteModal('предмета', deleteLesson, lesson.id)"></td>
                        </tr>

                    </table>
                </div>

                <!--пагинация-->
                <div class="user-page-bottom" ng-if="pagination.length > 1">
                    <div class="button-number" ng-click="goPreviousPage()">&#60;</div>
                    <div class="button-number" ng-repeat="pgBtn in pagination" ng-click="goToPage(pgBtn.offset)" ng-class="{ 'active' : pgBtn.active }">
                        {{pgBtn.num + 1}}
                    </div>
                    <div class="button-number" ng-click="goNextPage()">&#62;</div>
                </div>
            </div>
        </div>
    </div>


</div>

