<div class="row">
  <div class="col-md-4">
    <form class="common-form">
      <div class="form-group">
        <label for="profile-last-name">Фамилия:</label>
        <input type="text" id="profile-last-name" placeholder="Сидоров"/>

        <label for="profile-name">Имя:</label>
        <input type="text" id="profile-name" placeholder="Иван"/>


        <label for="profile-parent-name">Отчетсво:</label>
        <input type="text" id="profile-parent-name" placeholder="Петрович"/>

        <label for="profile-old-password">Старый пароль:</label>
        <input type="text" id="profile-old-password" placeholder="*********"/>

        <label for="profile-new-password">Новый пароль:</label>
        <input type="text" id="profile-new-password" placeholder="*********"/>


        <label for="profile-confirm-password">Подтвердите новый пароль:</label>
        <input type="text" id="profile-confirm-password" placeholder="*********"/>

        <div class="buttons-wrp">
          <div class="button-blue button-blue-common-form" ui-sref="profile.save">Сохранить</div>
          <div class="button-grey button-grey-common-form" ui-sref="profile">Отменить</div>
        </div>
      </div>
    </form>
  </div>
</div>
