<div ui-view="">
  <div class="row common-note saved" ng-show="save">
    <i class="info-icon"></i>
    <span class="note-text">Изменения сохранены</span>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="present">
        <table class="common-present-table">
          <tr class="present-table-row">
            <td class="present-table-name">Фамилия:</td>
            <td class="present-table-value">Сидоров</td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">ИМЯ:</td>
            <td class="present-table-value">Иван</td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">Отчетсво:</td>
            <td class="present-table-value">Петрович</td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">E-mail:</td>
            <td class="present-table-value">info@domen.ru</td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">Роль:</td>
            <td class="present-table-value">Администратор</td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">Пароль:</td>
            <td class="present-table-value">
              <span class="password-astr">**********</span>

              <div class="button-grey show-password">Показать пароль</div>
            </td>
          </tr>
        </table>
        <div class="button-blue present-button" ui-sref="profile.edit">Редактировать</div>
      </div>
    </div>
  </div>
</div>

