<div ui-view>
  <div class="login teacher">
    <div class="col-sm-4 login-form">
      <form>
        <div class="login-form-header">
          <h2>Сократ</h2>

          <p>Школа №1</p>
        </div>
        <div class="form-body clearfix">
          <div class="form-group">
            <h3>Авторизация</h3>
            <label for="login-email">E-mail:</label>
            <input type="email" id="login-email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="login-password">Пароль:</label>
            <input type="password" id="login-password" class="form-control" placeholder="Password">
          </div>
          <div class="settings-wrp">
            <div class="remember-wrp">
              <input type="checkbox" id="remember-me"/>
              <label for="remember-me">Запомнить</label>
            </div>
            <div class="forgot-wrp">
              <a href="#">Забыли свой пароль?</a>
            </div>
          </div>
          <div class="button-blue-login login-button">Войти</div>
          <div class="wrong-password"><span>Неверный пароль</span></div>
        </div>
      </form>
    </div>
  </div>
</div>

