<div ui-view>
  <div class="schedule archive">
    <div class="row">
      <table class="table-common" cellpadding="4" cellspacing="1">
        <tr class="table-common-trhead">
          <td class="tdlast arrows">
            <div>Дата</div>
          </td>
          <td>
            <div>Предмет</div>
          </td>
          <td>
            <div>Тема урока</div>
          </td>
          <td>
            <div>Класс</div>
          </td>
          <td>
            <div>Преподаватель</div>
          </td>
          <td>
            <div>Файлы</div>
          </td>
          <td>
            <div>Теги</div>
          </td>
          <td>
            <div>Статус</div>
          </td>
          <td>
            <div>Доступ для учеников</div>
          </td>
          <td class="tdlast"></td>
        </tr>

        <tr class="table-common-trtop">
          <td class="table-common-trtop-search">
            <div>
              <input type="text" placeholder="">
            </div>
          </td>
          <td>
            <div class="inputclass" ng-init="shoDropDown2=false">
              <div class="inputclass-top" ng-click="shoDropDown2=!shoDropDown2">
                <div class="inputclass-top-input">Все</div>
                <div class="inputclass-top-arrows"></div>
              </div>
              <div class="inputclass-bottom" ng-show="shoDropDown2">
                <div class="inputclass-bottom-in">Алгебра</div>
                <div class="inputclass-bottom-in">Геометрия</div>
              </div>
            </div>
          </td>
          <td class="table-common-trtop-search">
            <div>
              <input type="text" placeholder="">
            </div>
          </td>
          <td>
            <div class="inputclass" ng-init="showDropDown3=false">
              <div class="inputclass-top" ng-click="showDropDown3=!showDropDown3">
                <div class="inputclass-top-input">Все</div>
                <div class="inputclass-top-arrows"></div>
              </div>
              <div class="inputclass-bottom" ng-show="showDropDown3">
                <div class="inputclass-bottom-in">10А</div>
                <div class="inputclass-bottom-in">11Б</div>
              </div>
            </div>
          </td>
          <td>
            <div class="inputclass" ng-init="showDropDown4=false">
              <div class="inputclass-top" ng-click="showDropDown4=!showDropDown4">
                <div class="inputclass-top-input">Все</div>
                <div class="inputclass-top-arrows"></div>
              </div>
              <div class="inputclass-bottom" ng-show="showDropDown4">
                <div class="inputclass-bottom-in">10А</div>
                <div class="inputclass-bottom-in">11Б</div>
              </div>
            </div>
          </td>
          <td>
          </td>
          <td class="table-common-trtop-search">
            <div>
              <input type="text" placeholder="">
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="table-common-trbottom">
          <td class="idcenter date"><span>18.03.2016</span><span>В 15.00</span></td>
          <td><span>Алгебра</span></td>
          <td><span>Тема урока</span></td>
          <td><span>10А</span></td>
          <td>
            <span>Иванов Петр Сидорович</span>
          </td>
          <td></td>
          <td><span>Алгебра,</span> <span>График</span></td>
          <td class="can-remove">Можно удалить</td>
          <td>
            <div class="button-grey">Показать ученикам</div>
            <div class="button-red">Не показывать</div>
          </td>

          <td class="tdlast-play" ui-sref="archive.view"></td>
        </tr>
        <tr class="table-common-trbottom">
          <td class="idcenter date"><span>18.03.2016</span><span>В 15.00</span></td>
          <td><span>Алгебра</span></td>
          <td><span>Тема урока</span></td>
          <td><span>10А</span></td>
          <td>
            <span>Иванов Петр Сидорович</span>
          </td>
          <td></td>
          <td><span>Алгебра,</span> <span>График</span></td>
          <td class="cant-remove">Нельзя удалить</td>
          <td>
            <div class="button-grey show-all">Общедоступна</div>
            <div class="button-red">Не показывать</div>
          </td>

          <td class="tdlast-play" ui-sref="archive.view"></td>
        </tr>
        <tr class="table-common-trbottom">
          <td class="idcenter date"><span>18.03.2016</span><span>В 15.00</span></td>
          <td><span>Алгебра</span></td>
          <td><span>Тема урока</span></td>
          <td><span>10А</span></td>
          <td>
            <span>Иванов Петр Сидорович</span>
          </td>
          <td></td>
          <td><span>Алгебра,</span> <span>График</span></td>
          <td class="cant-remove">Нельзя удалить</td>
          <td>
            <div class="button-grey">Общедоступна</div>
            <div class="button-red closed">Закрыта</div>
          </td>

          <td class="tdlast-play" ui-sref="archive.view"></td>
        </tr>
      </table>
      <div class="user-page-bottom">
        <div class="button-number">&#60;</div>
        <div class="button-number">1</div>
        <div class="button-number">2</div>
        <div class="button-number">3</div>
        <div class="button-number">4</div>
        <div class="button-number">&#62;</div>
      </div>
    </div>
  </div>
</div>
