<div class="records-full" ui-view="">

    <div class="records-full-page">
        <div class="records-full-page-external">
            <div class="records-full-page-external-top">
                <div class="records-full-page-external-top-play">
                    <div class="records-full-page-external-top-play-to-deploy">
                        <a ui-sref="records.view" title="Просмотр записи"></a>
                    </div>
                </div>

            </div>
            <div class="records-full-page-external-center">
                <div class="records-full-page-external-center-in video-on-center">
                    <div class="records-full-page-external-center-in-playbig"></div>
                </div>
                <div class="records-full-page-external-center-in video-on-center">
                    <div class="records-full-page-external-center-in-playbig"></div>
                </div>
                <div class="records-full-page-external-center-in video-on-center">
                    <div class="records-full-page-external-center-in-playbig"></div>
                </div>
                <div class="records-full-page-external-center-in">
                    <div class="records-full-page-external-center-in-playbig"></div>
                </div>
            </div>
            <div class="records-full-page-external-bottom">
                <div class="records-full-page-external-bottom-left"></div>
                <div class="records-full-page-external-bottom-center"></div>
                <div class="records-full-page-external-bottom-right"></div>
            </div>
    </div>

</div>