<div ui-view="" class="records-page">

    <div class="under-table">
        <span class="color-red">*</span> - записи помечены, как неудаляемые
    </div>

    <div class="divtableoverflov">

        <table class="table-users" cellpadding="4" cellspacing="1">
            <tr class="table-users-trhead">
                <td ng-click="setSort('id')"
                    ng-class="{'sort_asc':sortParams.id===1,'sort_desc':sortParams.id===2}" class="tdfirst"><div>id</div></td>
                <td ng-click="setSort('event_ts')"
                    ng-class="{'sort_asc':sortParams.event_ts===1,'sort_desc':sortParams.event_ts===2}"><div>Дата проведения</div></td>
                <td ng-click="setSort('lesson')"
                    ng-class="{'sort_asc':sortParams.lesson===1,'sort_desc':sortParams.lesson===2}"><div>Предмет</div></td>
                <td ng-click="setSort('topic')"
                    ng-class="{'sort_asc':sortParams.topic===1,'sort_desc':sortParams.topic===2}"><div>Тема Урока</div></td>
                <td ng-click="setSort('class')"
                    ng-class="{'sort_asc':sortParams.class===1,'sort_desc':sortParams.class===2}"><div>Класс</div></td>
                <td ng-click="setSort('fio')"
                    ng-class="{'sort_asc':sortParams.fio===1,'sort_desc':sortParams.fio===2}"><div>Преподаватель</div></td>
                <td class="tdmiddle"><div>Файлы</div></td>
                <td ng-click="setSort('tag')"
                    ng-class="{'sort_asc':sortParams.tag===1,'sort_desc':sortParams.tag===2}" class="tdmiddle"><div>Теги</div></td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr class="table-users-trtop">
                <td class="idcenter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <!--
                <td class="table-users-trtop-search">
                    <div ng-click="editMail=1" ng-hide="editMail">admin@domen.ru</div>
                    <div ng-show="editMail" ng-blur="editMail=0" contenteditable="true"></div>
                </td>
                -->
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text"  ng-model="sendSearchRequest.event_ts" ng-keyup="sendFilter($event)">
                    </div>
                </td>
                <td>
                    <div>
                            <drop-down list="lesson" model="sr.lessonId"></drop-down>
                    </div>
                </td>
                <td class="table-users-trtop-search ">
                    <div>
                        <input type="text" ng-model="sendSearchRequest.topic" ng-keyup="sendFilter($event)">
                    </div>
                </td>
                <td>
                    <div>
                        <drop-down list="class" model="sr.classId"></drop-down>
                    </div>
                </td>
                <td>
                    <div>
                        <drop-down list="user" model="sr.userId"></drop-down>
                    </div>
                </td>
                <td></td>
                <td class="table-users-trtop-search record"><div> <input type="text" ng-model="sendSearchRequest.tag" ng-keyup="sendFilter($event)"></div></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="table-users-trbottom" ng-repeat="record in records">
                <td class="idcenter">{{record.id}}</td>
                <td>{{record.event_ts | dateFilter}}</td>
                <td>{{record.lesson.lessonName}}</td>
                <td>{{record.topic}}</td>
                <td>{{record.class.className}}</td>
                <td>{{record.user.firstName + ' ' + record.user.lastName + ' ' + record.user.patronymic}}</td>
                <td class="tdlast-iconfiles"></td>
                <td class="tdtag">{{record.tag}}</td>
                <td class="tdlast-play" ui-sref="records.view({id: record.id})"><a title="Просмотр записи"></a></td>
                <td class="tdlast-pencil" ui-sref="records.edit-view({id: record.id})"><a title="Редактировать запись"></a></td>
                <td class="tdlast-cross"><a href="/" title="Удалить запись"></a></td>
            </tr>
        </table>

    </div>

    <!--<div class="user-page-bottom">-->
        <!--<div class="button-number">&#60;</div>-->
        <!--<div class="button-number">1</div>-->
        <!--<div class="button-number">&#62;</div>-->
    <!--</div>-->

    <div class="user-page-bottom" ng-if="pagination.length > 1">
        <div class="button-number" ng-click="goPreviousPage()">&#60;</div>
        <div class="button-number" ng-repeat="pgBtn in pagination" ng-click="goToState(pgBtn.offset)" ng-class="{ 'active' : pgBtn.active }">{{pgBtn.num + 1}}</div>
        <div class="button-number" ng-click="goNextPage()">&#62;</div>
    </div>

</div>