<div class="records_view" ui-view="">

    <div class="records_view-toptext">
        {{dateFormat}} -
        {{info.lesson.lessonName}} /
        {{info.class.className}} /
        {{info.user.firstName+' '
        +info.user.lastName+' '
        +' '+info.user.patronymic}}
    </div>

    <div class="records_view-top">
        <div class="records_view-top-text-left">
            <div class="records_view-top-text-left-in-first">
                <div class="records_view-top-text-left-in-first-play-bigger">
                    <div class="records_view-top-text-left-in-first-play-bigger-deploy">
                        <div id="mainScreen" ng-class="{'video-full':resize}">
                            <!--Выберите видео-->
                            <video class="minVideo" height="100%" width="100%" ng-click="swap($event)">
                                <source src="{{'/video/'+videos[0].name+'.mp4' | trustAsResourceUrl}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            </video>
                        </div>

                        <a title="Начать/остановить проигрывание видео" ng-click="playvideo()" ng-class="{'a-play-full':resize,'a-play':!resize,'a-stop':played}"></a>

                        <a class="a-in" title="Во весь экран" ng-click="videoResize()" ng-hide="resize"></a>
                        <a class="a-fullpage" title="Вернуться к просмотру записи" ng-click="videoResizeout()" ng-show="resize"></a>

                    </div>
                </div>
            </div>

            <div class="records_view-top-text-left-pbar" ng-class="{'records_view-top-text-left-pbar-full':resize}">

                <div class="records_view-top-text-left-in" ng-repeat="video in videos">
                    <div class="records_view-top-text-left-in-play-big">
                        <video class="minVideo" height="100%" width="100%" ng-click="swap($event)">
                            <source src="{{'/video/'+video.name+'.mp4' | trustAsResourceUrl}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    </div>
                </div>
                <div class="records_view-top-text-left-in-last-empty">
                </div>
                <div class="records_view-top-text-left-bottom">
                    <div class="records_view-top-text-left-bottom-left">
                        <a title="Начать/остановить проигрывание видео" ng-click="playvideo()" ng-class="{'a-play-full':resize,'a-play':!resize,'a-stop':played}"></a>
                    </div>

                    <div id="videoRewind" class="records_view-top-text-left-bottom-center" ng-click="videoRewind($event)">
                        <div class="progressbar">
                            <div class="progressbar-play" ng-style="{'width':playWidth}"></div>
                        </div>
                    </div>

                    <div id="soundChange" class="records_view-top-text-left-bottom-right" ng-click="soundOff()">
                        <div class="progressSound">
                            <div class="progressSound-play" ng-click="$event.stopPropagation()">
                                <input type="range" ng-mousemove="changeVolume07($event)" ng-click="changeVolume07($event)" id="volume07" min="0" max="100" class="vertical" value="60">

                                <!--<div class="progressSound-play-grey" ng-click="soundChange($event)">-->
                                    <!--<div class="progressSound-play-grey-blue" ng-click="soundChange($event)"></div>-->
                                    <!--&lt;!&ndash;<div class="progressSound-play-grey-circle" ng-style="{'height':playHeight}" ng-click="soundChange($event)"></div>&ndash;&gt;-->
                                <!--</div>-->
                            </div>
                            <div class="vertical-external" >
                                <div class="vertical-external-in">
                                    </div>
                            </div>
                        </div>
                        <!--<div class="tracker" ng-click="soundTracker"></div>-->
                        <!--<input type="range" ng-mousemove="changeVolume07($event)" ng-click="changeVolume07($event)" id="volume07" min="0" max="100" class="vertical" value="60" data-range-orientation="vertical">-->
                    </div>
                </div>

            </div>

        </div>
        <div class="records_view-top-text-right">
            <div class="records_view-top-text-right-top">Прикрепленные материалы</div>
            <table class="materials-table">
                <tbody ng-repeat="row in filelist">
                <tr>
                    <td class="materials-table-tdleft">
                        <div class="{{row.sourceFileName | pictureFileExtensions}}"></div>
                    </td>
                    <td>
                        <a ng-href="/images/upload/files/{{row.fileName}}" target="_self" download="{{row.sourceFileName}}">{{row.sourceFileName}}</a>
                    </td>
                    <td class="download"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="records_view-bottom">
        <div class="button-blue-login" ng-show="edit"><a ui-sref="records.edit-view" title="Назад к списку">Редактировать</a></div>
        <div class="button-grey" ng-show="role===2"><a ui-sref="records" title="Назад к списку">Назад к списку</a></div>
        <div class="button-grey" ng-show="role===3"><a ui-sref="records" title="Назад к списку">Назад к списку</a></div>
        <div class="button-grey" ng-show="role===4" ng-show=""><a ui-sref="lesson.lessonschedule" title="Назад к списку">Назад к списку</a></div>
    </div>

</div>



<!--<div style="position: absolute; height: 150px;">-->
<!--<div id="block" style="border: 1px solid #000; cursor: move; position: relative; background: green;">Перетащи меня</div>-->

