.subjects {
  margin-top: 40px;
  .table-common-trhead{
    vertical-align: bottom;
    td:not(.empty) {
      div {
        &:after {
          content: url(/images/upanddownarrows.png);
          margin-left: 5px;
        }
        &:hover:after{
          content: url(/images/upanddownarrows-hover.png);
        }
      }
      &.sort_asc > div{
        &:after{
          content: url(/images/downarrow.png);
        }
        &:hover:after{
          content: url(/images/downarrow-hover.png);
        }
      }

      &.sort_desc > div{
        &:after{
          content: url(/images/uparrow.png);
        }
        &:hover:after{
          content: url(../images/uparrow-hover.png);
        }
      }
    }
  }
  .table-common-trbottom{
    td{
      text-align: center;
      &:nth-child(2){
        text-align: left;
        width: 160px;
      }
      &:nth-child(3){
        width: 80px;
      }
      &:nth-child(4){
        width: 90px;
      }
      &:nth-child(5){
        width: 140px;
      }
      &:nth-child(6){
        width: 160px;
      }
      &:nth-child(7){
        width: 180px;
        text-align: left;
      }

    }

  }
}