.create-form-container{
  height: 50px;
  vertical-align: middle;
}
.input-form{
  width: 80%;
}
.margin-right-15{
  margin-right: 15px;
}
.create-user-password-form{
 width: 86%;
}
.create-checkbox{
  margin: 10px;
}
.create-checkbox-and-buttons{
  margin-left: 7px;
}