
header {
  z-index: 1;
  .headerclass {
    height: 65px;
    width: 100%;
    &-div {
      padding: 4px 0;
      &-left {
        //float: left;
        //width: 15%;
        &-top {
          text-transform: uppercase;
          color: #289be5;
          font: {
            size: 24px;
            weight: bold;
          }
        }
        &-bottom {
          font: {
            size: 12px;
          }
        }
      }
      &-center {
        //float: left;
        //padding: 10px 0 0 100px;
        //width: 45%;
      }
      &-right {
        //float: right;
        //padding: 12px 0;
        //width: 40%;
        padding: 10px 15px 15px 0;
        .button-blue {
          line-height: 35px;
          margin-right: 120px;
          width: 170px;
        }
        &-left {
          float: right;
          margin-right: 5px;
          min-width: 50px;
          text-align: right;
        }
        &-right {
          float: right;
        }
      }
    }
  }
}

.navbar-blue {
  z-index: 1;
  .button-blue {
    width: 100%;
  }
  .div-left {
    margin-left: -10px;
    margin-right: 10px;
    padding: 5px 0 0 0;
  }
}

.navbar-gray {
  z-index: 1;
  &-div {
    padding: 10px 0 0 0;
    .breadcrumbs {
      &-container {
        color: #7a7e89;
        font-size: 12px;
        margin-top: 7px;
      }
      &-piece {
        margin-right: 5px;
        &:hover {
          color: #289be5;
          cursor: pointer;
          text-decoration: underline;
        }
        &:after {
          content: url(/images/breadcrumbs.png);
          margin-left: 5px;
        }
        &:last-child {
          color: #979ba6;
        }
        &:last-child:after {
          content: "";
          &:hover {
            color: red;
            text-decoration: none;
          }
        }
        &:last-child:hover {
          color: #979ba6;
          cursor: default;
          text-decoration: none;
        }
      }
    }
    .page-title {
      color: #40434f;
      font-size: 18px;
      padding: 3px 0 0;
    }
  }
}


