.login {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url(/images/grey-background.png);
  background-repeat: repeat;
  .login-form {
    margin: 7% auto 0;
    float: none;
    &-header {
      text-align: center;
      background-image: url(/images/black-background.png);
      background-size: 100% 100%;
      background-repeat: repeat;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 10px 0;
      h2 {
        line-height: 30px;
        margin-bottom: 0;
        color: #289be5;
        font-size: 36px;
        font-family: $fontRobotoBold;
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        line-height: 20px;
        font-family: $fontRobotoRegular;
        font-size: 14px;
        color: $colorLightGreyText;
      }
    }
  }
  form {
    width: 80%;
    margin: 0 auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #ffffff;
    h3 {
      text-align: center;
      font-family: $fontRobotoRegular;
      font-size: 24px;
      color: $colorDarkGreyText;
    }
    label {
      margin-bottom: 5px;
      font-family: $fontRobotoRegular;
      text-transform: uppercase;
      font-size: 12px;
      color: #7a7e89;
    }
    input {
      border: 1px solid #c4c6ca;
      @include placeholder-style {
        color: $colorDarkGreyText;
        font-family: $fontRobotoRegular;
        font-size: 14px;
      }
    ;
      &:focus {
        border-color: #c4c6ca;
        box-shadow: none;
      }
    }
    .form-body {
      padding: 0 30px 30px;
    }
  }
  .remember-wrp {
    display: inline-block;
  }
  input[type="checkbox"] {
    position: relative;
    top: 2px;
  }
  label[for="remember-me"] {
    font-family: $fontRobotoRegular;
    font-size: 14px;
    margin-left: 5px;
    text-transform: none;
  }
  .forgot-wrp {
    display: inline-block;
    float: right;
    margin-top: 4px;
    text-decoration: underline;
  }
  .button-blue-login {
    margin-left: 0;
    border: none;
  }
  .login-button {
    float: none;
    margin-top: 20px;
  }
  .wrong-password {
    text-align: center;
    margin-top: 20px;
    color: #ff0000;
  }
}

