.office-data {
  table {
    margin: 35px 0;
  }
  tr {
    > td:first-of-type {
      width: 100px;
      font-weight: 900;
    }
  }
  .cams-info{
    table{
      margin: 20px 0;
    }
  }

  .add-buttons-wrp {
    @include clearfix();
    margin-top: 20px;
    div {
      &:nth-child(1) {
        margin-left: 0;
        width: 55%;
        float: left;
      }
      &:nth-child(2) {
        width: 40%;
        margin-left: 5%;
      }
    }
  }

}