
.records_view {

  &-toptext {
    padding: 40px 5px;
  }
  &-top {
    height: 510px;
    &-text {
      &-left {
        width: 640px;
        float: left;
        &-pbar {
          height: 100%;
          width: 100%;
          &-full {
            background-image: url("/images/grey-background.png");
            height: 180px;
            width: 100%;
            position: fixed;
            bottom: 0;
            left:0;
            padding: 0 15px 15px 15px;
          }
        }
        &-in {
          //background: url(/images/157.png);
          border: {
            right: 4px solid white;
            top: 5px solid white;
          }
          float: left;
          width: 160px;
          height: 93px;
          &-play-big {
            background: {
              image: url(/images/play-big.png);
              position: center center;
              repeat: no-repeat;
            }
            width: 100%;
            height: 100%;
          }
          &-first {
            width: 100%;
            height: 360px;
            &-play-bigger {
              background: {
                position: center center;
                repeat: no-repeat;
              }
              width: 100%;
              height: 100%;
              &-deploy {
                height: 100%;
                position: relative;
                width: 100%;
                .minVideo {
                }
                a {
                  cursor: pointer;
                  display: block;
                  float: right;
                  height: 26px;
                  margin: 20px;
                  width: 26px;
                  z-index: 2;
                }
                .a-play {
                  background: {
                    image: url(/images/play-bigger.png);
                    position: center center;
                    repeat: no-repeat;
                  }
                  cursor: pointer;
                  display: block;
                  height: 60px;
                  left: 270px;
                  position: absolute;
                  top: 130px;
                  width: 60px;
                  z-index: 2;
                }
                .a-stop {
                  background: {
                    image: url(/images/stop-big.png);
                    position: center center;
                    repeat: no-repeat;
                  }
                }
                .a-in {
                  background: {
                    image: url(/images/to-deploy.png);
                    repeat: no-repeat;
                  }
                  cursor: pointer;
                  display: block;
                  height: 26px;
                  position: absolute;
                  right: 0px;
                  top: 0px;
                  width: 26px;
                  z-index: 2;
                }
                .a-fullpage {
                  cursor: pointer;
                  display: block;
                  height: 26px;
                  right: 20px;
                  position: fixed;
                  top: 20px;
                  width: 26px;
                  z-index: 2;
                  background: {
                    image: url(/images/roll-up.png);
                    position: top right;
                    repeat: no-repeat;
                  }
                }
                video {
                  background-image: url("/images/grey-background.png");
                }
                .video-full {
                  video{
                    background-image: url("/images/grey-background.png");
                    height: calc(100% - 180px);
                    left: 0;
                    overflow: hidden;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                    &-divbottom {
                      background-image: url("/images/grey-background.png");
                      bottom: 0;
                      height: 180px;
                      left: 0;
                      position: fixed;
                      width: 100%;
                      z-index: 1;
                    }
                  }
                }
                .a-play-full {
                  background: {
                    image: url(/images/play-bigger.png);
                    position: center center;
                    repeat: no-repeat;
                  }
                  cursor: pointer;
                  display: block;
                  height: 60px;
                  position: fixed;
                  width: 60px;
                  z-index: 2;
                  left: 50%;
                  margin-left: -30px;
                  margin-top: -30px;
                  top: calc(50% - 100px);
                }
                .a-stop {
                  background: {
                    image: url(/images/stop-big.png);
                    position: center center;
                    repeat: no-repeat;
                    size: 100%;
                  }
                  display: none;
                }
              }
            }
          }
          &-last {
            border-right: 0px;
            //background: url(/images/157.png);
            border: {
              right: 0;
              top: 5px solid white;
            }
            float: left;
            width: 160px;
            height: 93px;
            &-empty {
              height: 93px;
              width: 100%;
            }
          }
        }
        &-bottom {
          width: 100%;
          height: 57px;
          &-left {
            /*background: {
              image: url(/images/play-big.png);
              position: bottom left;
              repeat: no-repeat;
            }*/
            float: left;
            width: 44px;
            height: 100%;

            .a-play {
              background: {
                image: url(/images/play-big.png);
                position: left bottom;
                repeat: no-repeat;
              }
              cursor: pointer;
              display: block;
              height: 100%;
              width: 100%;
              z-index: 2;
            }
            .a-stop {
              background: {
                image: url(/images/stop-big.png);
                position: left bottom;
                repeat: no-repeat;
              }
            }
            .a-play-full {
              background: {
                image: url(/images/play-big.png);
                position: left bottom;
                repeat: no-repeat;
              }
              cursor: pointer;
              display: block;
              height: 100%;
              width: 100%;
              z-index: 2;
            }
            .a-stop {
              background: {
                image: url(/images/stop-big.png);
                position: left bottom;
                repeat: no-repeat;
              }
            }

          }
          &-center {
            background: {
              image: url(/images/progressbar.png);
              position: center bottom;
              repeat: no-repeat;
            }
            float: left;
            width: calc(100% - 84px);
            height: 14px;
            margin-top: 42px;
            position: relative;
            .progressbar {
              background: linear-gradient(to top, #c6c6c6, #b4b4b4);
              border-radius: 7px;
              height: 100%;
              width: 100%;
              cursor: pointer;
            }
            .progressbar-play {
              background: #329de0;
              border-radius: 7px;
              height: 100%;
              width: 0;
            }
          }
          &-right {
            /*background: {
              image: url(/images/volume-small.png);
              position: bottom right;
              repeat: no-repeat;
            }
            float: right;
            width: 27px;
            height: 100%;
            position: relative;
            z-index: 4;
            &:hover {
              background: {
                image: url(/images/volume-big.png);
                repeat: no-repeat;
              }
              height: 107px;
              width: 27px;
              z-index: 5;
              margin-top: -50px;
              cursor: pointer;
            }*/

            /*.tracker {
              height: 15px;
              left: 20px;
              position: absolute;
              top: 126px;
              width: 285px;
              background: yellow;
            }*/

            .progressSound {
              background: {
                image: url(/images/volume-small.png);
                position: bottom right;
                repeat: no-repeat;
              }
              width: 28px;
              height: 28px;
              margin-top: 30px;
              cursor: pointer;
              float: right;
              position: relative;
              z-index: 4;
              input.vertical{
                display: none;
              }
              &:hover {
                .progressSound-play {
                  background: white;
                  height: 80px;
                  width: 28px;
                  z-index: 4;
                  margin-top: -80px;
                  position: relative;

                  input.vertical{
                    display: block;
                    width: 70px;
                    z-index: 4;
                    position: absolute;
                    background: white;
                    height: 28px;
                    transform: rotate(270deg);
                    margin: 28px 0 0 -20px;

                  }
                  // для мозила
                  input[type=range]{
                    // fix for FF unable to apply focus style bug
                    border: 1px solid white;
                    // required for proper track sizing in FF
                    width: 70px;
                  }
                  input[type=range]::-moz-range-track {
                    width: 70px;
                    height: 10px;
                    background: #dbdcdf;
                    border: none;
                    border-radius: 5px;
                  }
                  input[type=range]::-moz-range-thumb {
                    border: none;
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    background: #dbdcdf;
                    box-shadow: 0 0 0 1px #aaadbe;
                  }
                  // hide the outline behind the border
                  input[type=range]:-moz-focusring{
                    outline: 1px solid white;
                    outline-offset: -1px;
                  }
                  input[type=range]:focus::-moz-range-track {
                    background: #ccc;
                  }
                  // ниже идёт для хрома
                  input[type=range]{
                    -webkit-appearance: none;
                  }
                  input[type=range]::-webkit-slider-runnable-track {
                    width: 70px;
                    height: 10px;
                    background: #dbdcdf;
                    border: none;
                    border-radius: 5px;
                  }
                  input[type=range]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    border: none;
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    margin: -1px 0 0 0;
                    background: #dbdcdf;
                    box-shadow: 0 0 0 1px #aaadbe;
                  }
                  input[type=range]:focus {
                    outline: none;
                  }
                  input[type=range]:focus::-webkit-slider-runnable-track {
                    background: #ccc;
                  }
                  /*&-grey {
                    background: green;
                    background: linear-gradient(to top, #c6c6c6, #b4b4b4);
                    border-radius: 5px;
                    position: absolute;
                    height: 70px;
                    width: 10px;
                    z-index: 4;
                    margin: 10px 9px 0 9px;
                    &-blue {
                      background: #329de0;
                      bottom: 0;
                      width: 10px;
                      height: 100%;
                      border-radius: 5px;
                      position: absolute;
                      z-index: 4;
                    }
                    &-circle {
                      background: {
                        image: url(/images/circle.png);
                        repeat: no-repeat;
                      }
                      bottom: 0;
                      width: 14px;
                      right: -2px;
                      height: 100%;
                      position: absolute;
                      z-index: 5;
                    }
                  }*/
                }
              }
            }
          }
        }
      }
      &-right {
        background: white;
        height: 510px;
        margin-left: 27px;
        width: 333px;
        float: left;
        &-top {
          color: #7a7e89;
          text-transform: uppercase;
          padding: 18px;
        }
        &-table {
          /*border: 1px solid #eeeeee;*/
          border: {
            collapse: collapse;
            bottom: 1px solid #eeeeee;
          }
          cursor: pointer;
          td {
            border: {
            top: 1px solid #eeeeee;
            }
          }
          &-11 {
            border: {
              right: 1px solid #eeeeee;
            }
            color: #289be5;
            background: {
              image: url(/images/icon-word.png);
              position: 10px center;
              repeat: no-repeat;
            }
            text-decoration: underline;
            padding-left: 50px;
            width: 294px;
          }
          &-12 {
            border: {
              right: 1px solid #eeeeee;
            }
            color: #289be5;
            background: {
              image: url(/images/icon-powerpoint.png);
              position: 10px center;
              repeat: no-repeat;
            }
            text-decoration: underline;
            padding-left: 50px;
            width: 294px;
          }
          &-13 {
            border: {
              right: 1px solid #eeeeee;
            }
            color: #289be5;
            background: {
              image: url(/images/icon-exel.png);
              position: 10px center;
              repeat: no-repeat;
            }
            text-decoration: underline;
            padding-left: 50px;
            width: 294px;
          }
          &-2 {
            background: url(/images/arrow-green.png) no-repeat;
            float: right;
            margin-top: -1px;
            height: 39px;
            width: 39px;
          }
        }
      }
    }
  }
  &-bottom {
    height: 38px;
    margin: 35px 0;
    width: 100%;
    a {
      text-decoration: none;
    }
  }
  .button-blue-login {
    a {
      color: #fff;
      display: block;
      height: 100%;
      width: 100%;
    }
    margin-left: 0px;
  }
  .button-grey {
    a {
      color: #40434f;
      display: block;
      height: 100%;
      width: 100%;
    }
    margin-left: 10px;
  }

  .vertical-external {
    .vertical {
      margin: -49px 0 0 8px;
      width: 70px;
      z-index: 4;
      position: absolute;
      background: white;
      height: 28px;
      transform: rotate(270deg);
      margin: -49px 0 0 -20px;
    }

  }

}
.materials-table {
  width: 100%;
  margin-top: 10px;
  .materials-table-tdleft {
    height: 24px;
    padding: 10px !important;
    width: 24px;
  }
  .download {
    width: 40px;
    background: url("/images/icon-download.png") no-repeat center center;
    cursor: pointer;
  }
  tr {
    width: toPercents(288, 328);
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    td {
      .classWord {
        background: url("/images/icon-word.png");
        height: 24px;
        width: 24px;
      }
      .classPptx {
        background: url("/images/icon-powerpoint.png");
        height: 24px;
        width: 24px;
      }
      .classXls {
        background: url("/images/icon-exel.png");
        height: 24px;
        width: 24px;
      }
      .classGeneral {
        background: url("/images/general.png");
        height: 24px;
        width: 24px;
      }
    }
  }
}
