.edit-view {
  width: 500px;
  .info {
    margin: 30px 0;
  }
  &-div {
    padding: 22px 0;
    &-left {
      color: #7a7e89;
      float: left;
      text-transform: uppercase;
      width: 250px;
    }
    &-right {
      float: left;
      width: 250px;
    }
    .cabinet {
      padding: 30px 0;
    }
    a {
      text-decoration: none;
    }

    .button-blue-login {
      a {
        color: #fff;
        display: block;
        height: 100%;
        width: 100%;
      }
      margin-left: 0px;
    }
    .button-grey {
      a {
        color: #40434f;
        display: block;
        height: 100%;
        width: 100%;
      }
      margin-left: 10px;
    }
  }
}