
.under-table {
  padding: 32px 0 22px 0;
}

.color-red {
  color: red;
}

.user-page {
  &-top {
    padding: 30px 0 68px 0;
    font: {
      size: 14px;
    }
  }
  &-bottom {
    margin-top: 15px;
  }
}

.divtableoverflov {
  overflow: auto;
  .table-users {
    width: 100%;


    td {
      height: 44px;
      border: 1px solid #f5f5f5;
      border-collapse: collapse;
      padding: 0 0 0 6px;
    }
    &-trhead {
      text-transform: uppercase;
      background: #f5f5f5;
      color: #7a7e89;
      td {
        padding: 5px 0 5px 6px;
        white-space: nowrap;
        &:hover {
          background: #d9dbe1;
          cursor: pointer;
          //&:after {
          //  content: url(/images/upanddownarrows-hover.png);
          //  margin-left: -5px;
          //}
        }
        div {
          &:after {
            content: url(/images/upanddownarrows.png);
            margin-left: 5px;
          }
          &:hover:after{
            content: url(/images/upanddownarrows-hover.png);
          }
        }
        &.sort_asc > div{
          &:after{
            content: url(/images/downarrow.png);
          }
          &:hover:after{
            content: url(/images/downarrow-hover.png);
          }
        }

        &.sort_desc > div{
          &:after{
            content: url(/images/uparrow.png);
          }
          &:hover:after{
            content: url(../images/uparrow-hover.png);
          }
        }

      }
    }
    &-trtop {
      background: #9da0a8;
      &-search {
        padding: 0px !important;
        div {
          margin: 0 8px;
          background: #696d77 none repeat scroll 0 0;
          img {
            background: #696d77;
            height: 29px;
            padding: 7px 0px;
            width: 10%;
          }
          input {
            font-family: 'Glyphicons Halflings';
            border: 0;
            color: #efeff0;
            background: {
              color: #696d77;
              image: url(/images/icon-search.png);
              position: 8px 10px;
              repeat: no-repeat;
            }
            height: 29px;
            padding: 0 8px 0 25px;
            width: 100%;
          }
        }
      }
    }
    &-trbottom {
      background: white;
      &:hover {
        background: #eff1f5;
        cursor: pointer;
      }
    }
    .tdlast {

      width: 44px;
      user-select: none;
      &:hover {
        cursor: default;
        background: #f5f5f5;
        user-select: none;
        &:after {
          content: "";
          margin-left: -5px;
        }
      }
      &-iconfiles {
        background: url(/images/icon-siles.png) no-repeat;
        background-position: center center;
        cursor: pointer;
      }
      &-play {
        background: url(/images/play.png) no-repeat;
        background-position: center center;
        cursor: pointer;
        &:hover {
          background: url(/images/play-hover.png) no-repeat;
          background-position: center center;
          cursor: pointer;
        }
      }
      &-magnifier {
        background: url(/images/magnifier.png) no-repeat;
        background-position: center center;
        &:hover {
          background: url(/images/magnifier-hover.png) no-repeat;
          background-position: center center;
          cursor: pointer;
        }
      }
      &-pencil {
        background: url(/images/pencil.png) no-repeat;
        background-position: center center;
        &:hover {
          background: url(/images/pencil-hover.png) no-repeat;
          background-position: center center;
          cursor: pointer;
        }
      }
      &-cross {
        background: url(/images/cross.png) no-repeat;
        background-position: center center;
        &:hover {
          background: url(/images/cross-hover.png) no-repeat;
          background-position: center center;
          cursor: pointer;
        }
      }
      &-cross-none {
        background: none;
        &:hover {
          background: none;

        }
      }
    }
  }
}

//.pass-and-button-on-xs-and-sm{
//  width: calc(100% - 140px);
//  @include xs-display{
//    width: 10%;
//  }
//}

