.lesson-start {
  .error {
    position: absolute;
    bottom: -13px;
    color: #ff0000;
    font-family: $fontRobotoRegular;
    font-size: 14px;
    margin: 0;
    line-height: 30px;
    &-lesson-theme {
      line-height: 5px;
      bottom: 9px;
    }
  }
  padding-bottom: 50px;
  .lesson-icon {
    display: inline-block;
    width: 13px;
    height: 20px;
    background: url(/images/icon-sprites.png);
    background-position: 0 0;

    &:hover {
      .play{
        background: white;
        height: 80px;
        width: 22px;
        left: -5px;
        margin-top: -80px;
        position: absolute;
        &-grey {
          background: green;
          background: linear-gradient(to top, #c6c6c6, #b4b4b4);
          border-radius: 5px;
          position: absolute;
          height: 68px;
          width: 6px;
          z-index: 4;
          margin: 10px 9px 0 9px;
          &-blue {
            background: #329de0;
            bottom: 0;
            width: 6px;
            height: 100%;
            border-radius: 5px;
            position: absolute;
            z-index: 4;
          }
          &-circle {
            background: {
              image: url(/images/circle.png);
              repeat: no-repeat;
            }
            bottom: 0;
            width: 14px;
            right: -2px;
            height: 100%;
            position: absolute;
            z-index: 5;
          }
        }
      }
    }
  }
  .volume-icon {
    background-position: 13px 0;
  }
  .bar {
    margin-top: 7px;
    width: 93%;
    height: 6px;
    box-shadow: inset 0 2px 0 5px rgba(#000, .25),
    0 1px 0 1px rgba(#ffffff, .75);
    background-image: linear-gradient(to bottom, #c7c9ce, #fff);
    margin-bottom: 0;
    display: inline-block;
    border-radius: 5px;
    float: right;
    &-fill {
      box-shadow: inset 0 2px 0 0 rgba(#fff, .4);
      background-image: linear-gradient(to bottom, #1780c2, #3ba6e9);
      width: 20%;
      height: 100%;
      border-radius: 5px;
      position: relative;
    }
  }
  table {
    width: 100%;
    tr {
      td {
        padding: 10px 0;
        position: relative;
      }
      &:nth-child(4) {
        td {
          vertical-align: top;
        }
      }
      td {
        &:nth-child(1) {
          width: 32%;
        }
        &:nth-child(2) {
          width: 100 - 32%;
        }
      }
    }
  }
  .inputclass {
    width: toPercents(213, 319);
    .inputclass-top-arrows {
      float: right;
      width: toPercents(30, 213);
    }
    .inputclass-top-input {
      width: 100 - toPercents(30, 213);
    }
    .inputclass-bottom {
      z-index: 1;
      text-align: center;
    }
    .inputclass-bottom-in {
      line-height: 19px;
    }
  }
  textarea {
    width: 100%;
    height: 80px;
    z-index: 0;
  }

  .lesson-time {
    width: 58px;
    padding: 5px 0 5px 18px;
    line-height: 15px;
  }
  .lesson-tags {
    width: 100%;
    height: 35px;
    line-height: 35px;
  }
  .present-button {
    &:hover {
      color: #ffffff;
    }
  }

  .col-md-4 {
    padding: 0;
  }
  .lesson-start-teacher {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 50px;
    &-top {
      width: toPercents(190, 293.328);
      margin-bottom: 20px;
      .manual-for-microphone {
        background: orange;
      }
      .manual-for-microphone-show {
        background: white;
        font: normal 11px Tahoma;
        margin-left: -2px;
        position: absolute;
        z-index: 5;
      }
      .hint-microphone {
        .span-hint {
          position: relative;
          display: inline-block;
          width: 200px;
          height: 30px;
        }
        /* Отображает вверху контента подсказку */
        [data-hint-up]:after, [data-hint-up]:before {
          opacity: 0;
          content: "";
          position: absolute;
          bottom: 100%;
          z-index: 10;
          cursor: default;
          width: 300px;
          //white-space: pre;
        }
        [data-hint-up]:hover {} /* IE10 без этой строчки не работает */
        [data-hint-up]:hover:before {
          opacity: 1;
          -webkit-transition: opacity 0.2s 50ms ease;
          -moz-transition: opacity 0.2s 50ms ease;
          -o-transition: opacity 0.2s 50ms ease;
          transition: opacity 0.2s 50ms ease;
          content: attr(data-hint-up);
          border: 1px solid #999;
          border-radius: 3px;
          font: normal 11px Tahoma;
          padding: 5px 5px 5px 25px;
          box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.5);
          background: #ffffed url('http://spb-piksel.ru/20x20-Info.png') 2px center no-repeat;
          //margin: 0 0 9px -10px;
        }
        //[data-hint-up]:hover:after {
        //  opacity: 1;
        //  -webkit-transition: opacity 0.2s 50ms ease;
        //  -moz-transition: opacity 0.2s 50ms ease;
        //  -o-transition: opacity 0.2s 50ms ease;
        //  transition: opacity 0.2s 50ms ease;
        //  content: "\25BC";
        //  color: #ffffed;
        //  margin: 0 0 -5px -7px;
        //  text-shadow: 1px 2px 2px #666;
        //}
      }
      p {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 30px;
        color: #7a7e89;
      }
      a {
        text-decoration: underline;
      }
    }
    img {
      max-width: 100%;
      min-width: 100%;
    }
    .mic-note {
      margin-top: 20px;
      padding-left: 10px;
      font-size: 12px;
      color: #3cb878;
      font-family: $fontRobotoRegular;
      &:before {
        content: url(/images/info.png);
        position: relative;
        top: 2px;
        left: -10px;
      }
    }
    &-settings {
      @include clearfix();
      width: toPercents(190, 293.328);
      margin-top: 15px;
      .bar {
        width: 87%;
      }
      .volume {
        @include clearfix();
        margin-top: 5px;
      }
      .volume-icon {
        float: left;
        position: relative;
        top: 10px;
      }
      .button-grey {
        width: 87%;
        margin-left: 0;
        float: right;
      }
    }
  }
  .align-element-sound {
    margin: -25px 0 0 -10px;
    position: absolute;
  }
}