<div class="login">
  <div class="col-sm-4 login-form">
    <form ng-submit = "login()" >
      <div class="login-form-header">
        <h2>Сократ</h2>

        <p>Панель управления</p>
      </div>
      <div class="form-body clearfix">
        <div class="form-group">
          <h3>Авторизация</h3>
          <label for="login-email">E-mail:</label>
          <input type="text" id="login-email" class="form-control" ng-model="username" ng-change="wrongPasswordClear()">
        </div>
        <div class="form-group">
          <label for="login-password">Пароль:</label>
          <input type="password" id="login-password" class="form-control" ng-model="password" ng-change="wrongPasswordClear()">
        </div>
        <div class="settings-wrp">
          <div class="remember-wrp">
            <input type="checkbox" id="remember-me"/>
            <label for="remember-me">Запомнить</label>
          </div>
          <div class="forgot-wrp">
            <a href="#">Забыли свой пароль?</a>
          </div>
        </div>
        <button type="submit" class="button-blue-login login-button" ng-click="login()">Войти</button>
        <div class="wrong-password" ng-show="wrongPassword"><span>Неверный пароль</span></div>
      </div>
    </form>
  </div>
</div>
